[2015-04-27 11:32] gandm opened #1 "< operator value treated as invalid JSX element name"
Disabled JSX attribute name highlighting. Shame, but seems impossible to fix unless I attack the whole grammar. Can't see it's worth it so I'm closing.

[2015-04-27 17:14] #1 closed

[2015-04-27 22:05] gandm opened #2 "jsx element and attribute names not parsing minus '-' as a valid character"

[2015-04-27 22:06] gandm opened #3 "Jsx ignoring html &entities in strings and literals."

[2015-04-27 22:45] #2 closed

[2015-04-27 22:45] #3 closed

[2015-05-10 23:45] rgrove opened #4 ""No symbols found" in .jsx files"
When editing a `.jsx` file, the symbols view (Cmd-R) is empty and displays the message "No symbols found". If I rename the same file to `.js`, the symbols view displays all the symbols I would expect it to. I've tried a variety of files, and it doesn't seem to be related to the contents at all; just the extension.

(Other than this minor issue, I'm really loving this syntax! Thanks for putting it

[2015-05-11 13:43] gandm commented on #4
I will change the grammar to scope to .jsx. This should allow the builtin Atom symbols for JavaScript to work. The symbols regex provided with Atom needs to be updated to see ES6 structures so it may be of limited use!

[2015-05-11 19:09] rgrove commented on #4
Hmm. This fixed the symbols view, but broke the linter-eslint package, which will only run ESLint on `source.js`, `source.js.jsx`, or `source.babel`.

[2015-05-11 20:01] gandm commented on #4
OK I've just looked at the source for linter-eslint. Yes It seems they changed it to accommodate source.babel - very kind of them. But they don't support .jsx which is one of the options the Atom symbols package supports. I'll modify my code to change the scopeName to .js.jsx. That should make everyone happy unless someone else is using source.babel!!!!

[2015-05-11 20:08] gandm commented on #4
@rgrove. Just changed the scopeName to .js.jsx. This is supported by linter so can you check this and the symbols still work.

[2015-05-11 20:21] rgrove commented on #4
Thanks! Works great now.

[2015-05-11 20:56] #4 closed

[2015-05-25 00:51] mistadikay opened #6 ".babelrc support"
Hi,

Great package and pretty long awaited, thank you!

One thing is missing though. Most babel users use [.babelrc](https://babeljs.io/docs/usage/babelrc/) containing babel configuration which can be different in different projects and even folders. So it would be great if *language-babel* could get that configuration from .babelrc about stage, blacklist transformers, optional transformers, etc.

[2015-05-25 13:46] marudor opened #7 "Indentation of switch/case/default"
Hey,
I really like the indentation and syntax highlighting the only thing bugging me is the non existing indentation of switch statements.
Currently this is the indentation provided:
[code]

I would love if you could make it like this:
[code]

Would increase readability by a lot.

[2015-05-25 15:38] gandm commented on #7
Yes I'm aware of this. I took it out to try to match the behaviour of the default atom provided language-javascript package. They removed it [here](https://github.com/atom/language-javascript/commit/21fae9fe737c277567ab73a07baefbda1658adfa)  to avoid problems. I'll investigate what affect it has and will update this issue with any findings.

[2015-05-26 06:54] gandm commented on #6
Also as a FYI. `.babelrc` files are supported by language-babel in that if one exists in the chain of directories above and including the source directory the options within will be read and used.

However, I need to add some config/code to make this more sensible. If you remove any transforms from the language-babel config you can use `.babelrc` files quite happily.

[2015-05-27 15:18] gandm commented on #6
A new release 0.6.0 pushed to add new features to support .babelrc files

[2015-05-27 15:32] mistadikay commented on #6
awesome, thanks!

[2015-05-27 22:29] #6 closed

[2015-05-28 02:28] gandm commented on #7
I've added indent to case and default switches. Seems OK but you have no automatic outdent. Hope this works for you. Fixed in 0.6.1

[2015-05-28 07:02] marudor commented on #7
Well without automatic outdent I would prefer to have it like the default atom package.
As I think a the indent should prefer stability.
With no auto outdent you pretty much loose the ability to use the auto indent feature.

While before you could use auto indent it just messes a bit with the switch statement.
Sorry to have you add it and (may) remove it again. But if we currently have no way to m

[2015-05-28 08:14] gandm commented on #7
Ok i'll remove it and push out a patch.

[2015-05-28 08:40] #7 closed

[2015-05-31 22:57] nematode opened #8 "Suppress transpile-on-save success messages"
Love the Atom plugin. But I get success on Save so often when I'm really only interested in transpile failures. I'd love to see a preference for suppressing notification for successes.

[2015-06-01 05:34] gandm commented on #8
Yes I agree. Will put in next release.

[2015-06-04 12:50] gandm commented on #8
Just pushed out 0.7.0. Adds a new flag to optionally suppress success messages.

[2015-06-05 03:50] #8 closed

[2015-06-06 12:31] gandm opened #9 "Screenimage for readme.md"
![image](https://cloud.githubusercontent.com/assets/2313237/8019642/47bcc8e0-0c50-11e5-8975-ec067315c662.png)

[2015-06-06 12:31] #9 closed

[2015-06-08 22:55] nematode commented on #8
Sweet! Thanks.

[2015-06-10 05:10] vkbansal opened #10 "Self closing tags in JSX are not highlighted correctly"
Self closing tags as shown below are not highlighted correctly in JSX:

![image](https://cloud.githubusercontent.com/assets/5930351/8075340/e595b5cc-0f5c-11e5-87f5-9460d14563cd.png)

[2015-06-10 06:38] #10 closed

[2015-06-14 09:16] gandm opened #11 "Remove Internal Scanner"
Although I never called the resolve-rc code within babel directly the Internal Scanner did try to mimick it. @sebmck obviously doesn't like people avoiding the api ( for good reason ) as per this [Message in babel code](https://github.com/babel/babel/blob/0694a7dd0672151c937932c17e092269384161b0/src/babel/tools/resolve-rc.js), so I've decided to play the game and remove any potential issue by remo

[2015-06-14 09:17] #11 closed

[2015-06-22 12:12] vramana opened #12 "Support for babel-plugins"

[2015-06-22 12:58] gandm commented on #12
I will look at adding this. In the meantime use a babelrc file.

[2015-06-22 13:00] vramana commented on #12
I have a babelrc file that has plugins mentioned in it and whenever I save, I get a transpile error saying unknown plugin.

[2015-06-22 13:06] gandm commented on #12
What is the plugin you are using?

[2015-06-22 13:09] vramana commented on #12
https://github.com/babel-plugins/babel-plugin-object-assign

[2015-06-22 13:53] gandm commented on #12
OK I see what babel-core is doing. You have to install a local copy of `babel-plugin-object-assign` in the atom path somewhere. Just adding it as a global using `npm -g install` won't work. go to a directory in the actual atom path and install it using `npm install babel-plugin-object-assign` and it will work.

[2015-06-23 10:40] gandm commented on #12
Plugins may be a problem as the Atom environment is a self contained nodejs app. If plugins are required they must be installed within the atom exe path as a local package or atom must know of it via a sym link. Using links something like this - https://atom.io/docs/v0.211.0/behind-atom-developing-node-modules

So I'm closing this as it works if using .babelrc files and local packages.

[2015-06-23 11:31] vramana commented on #12
The `linter-eslint` package uses plugins perfectly fine. Can you look into this one more time? See how they handle plugin support for eslint in the linter.

Regardless, I think this is a great package. Thanks a lot !! Can't express how much I love this package.

Do you have any plans to add snippets for the common html tags??

I didn't configure transpile output to folder. So I always get a notifi

[2015-06-23 12:25] gandm commented on #12
Nothing I can do about how babel-core handles plugin dependencies in regard to .babelrc files. Babel-core itself reads the plugin name and attempts to resolve it. I'm not even aware of what is in the babelrc files. The only way I could do something is if I provide another config array in the settings and then use a kludge like linter which would work. My inclination is not to bother as most people

[2015-06-23 12:30] vramana commented on #12
By all means please do. It blocks me from changing the tabs all the time.

[2015-06-23 12:40] vramana commented on #12
Whenver I type `div` tag or `ul`  or anything else. By pressing tab, I just want it to get the opening and closing tags autocompleted by the package itself. I believe that this is common to everyone.

[2015-06-23 12:46] vramana commented on #12
`linter-eslint` gives an option to use `eslint` from `node_modules/.bin/` I think that's how they resolve plugins I guess. Can you do the same?

If you find `babel`  in `node_modules/.bin/` give an option to using that instead of the one provided by the package.

[2015-06-23 12:56] gandm commented on #12
language-babel 0.8.1 just published that suppresses 'no output configured' messages.

The html tags are specific to React and not babel ( babel just happens to support react ). If React is key then it may be better waiting for the Facebook Nuclide project - I'm guessing most people will use Nuclide. http://nuclide.io/ when it ships.

As I said. the babel-core code resolves plugins not my code. Bab

[2015-06-23 12:56] #12 closed

[2015-06-23 13:00] gandm commented on #12
P.S. Yes I could do what linter does and spawn npm to find out where node is but as I said it's a bit of a kludge. Not something I really want to do.

[2015-06-23 13:22] vramana commented on #12
@anyway Anyway Thanks a lot!!

[2015-06-28 19:04] IngenieroLata opened #13 "Having problems with Spread Operator"
Hi,
I just came to Atom world from Sublime and I'm trying to compile a .jsx component and when I try to save it always appears this message

[code]

The line that is  broking

[code]

Referring the spread operator.

[2015-06-28 19:46] gandm commented on #13
This is nothing to do with language-babel. That message is passed back from the Babel API. I would imagine you would also get this message from the Babel CLI. You have to enable the spread transformer es6.spread or set the stage to enable it. Either use the babelrc files or set via settings.

[2015-06-28 19:54] gandm commented on #13
spread as a lhs?

[2015-06-28 20:06] IngenieroLata commented on #13
I'm using webpack so I just disabled the transpile and that's it, but I'm still wondering about it, I was using a destructuring with "..." to keep the props and with webpack is working well.

And... Sorry may I ask What is lhs?

[2015-06-28 20:57] mathieumg commented on #13
Left-hand side

[2015-06-28 21:46] gandm commented on #13
The LHS spread should be an array.
e.g
[ a, b, ...c ] = this.props

[2015-06-28 22:02] gandm commented on #13
Sorry I misunderstood what you were doing. Yes this should work if the correct stage is set in either babelrc or settings.

[2015-06-28 22:03] IngenieroLata commented on #13
ooooo yes, but I'm using destructuring also  https://babeljs.io/docs/learn-es2015/#destructuring  like this

[code]

[2015-06-28 22:05] IngenieroLata commented on #13
yeah, but I don't know where to put it on settings, Just now I think I broke Atom.

[2015-06-28 22:26] gandm commented on #13
This is experimental stage 1 or use transformer es7.objectRestSpread https://github.com/sebmarkbage/ecmascript-rest-spread

You can set this in .babelrc file or  language-babel settings. In language Babel's settings put es7.objectRestSpread in the Optional Transformers field Or use stage 1
In babelrc use stage 1 or use the 'optional' option.

I've never used the webpack loader so I don't know why

[2015-06-28 22:57] IngenieroLata commented on #13
Thanks! I'll check it

[2015-06-29 04:24] #13 closed

[2015-06-29 21:21] N0hbdy opened #14 "Odd indentation for object/maps"
Just wanted to bring this up, but when using the babel plugin the indentation gets a bit off with text-to-cursor location.  This is mostly problematic with maps, where keys that have no quotes around them cause the cursor to be a few characters behind where is should be:
![screen shot 2015-06-29 at 2 18 00 pm](https://cloud.githubusercontent.com/assets/760906/8418726/e88562a2-1e69-11e5-897c-59097a

[2015-06-29 22:14] gandm commented on #14
I can't see this when I display a map. The gif you enclosed seems weird as it has different font sizes? language babel does no styling of syntax other than italicizing names in JSX tags. What theme are you using for the editor? I'm using Atom Dark in the image here.
![image](https://cloud.githubusercontent.com/assets/2313237/8419750/22a2fde2-1eb4-11e5-82f8-dd0bf0e6a080.png)

It maybe your theme is

[2015-06-30 09:31] gandm commented on #14
P.S.

There are quite a few reports on cursors not being where they should be in atom which is why the devs are working on a new char measurement system https://github.com/atom/atom/issues/6055

I'm guessing that it is because of the different size fonts being used in your theme.

[2015-06-30 14:35] N0hbdy commented on #14
Awesome - thanks for taking a look and helping me out, even though its not Babel's fault!  I'm able to have this not happen on a fresh install, so it must be some other package or setting thats causing the oddity - really appreciate your time to help explain!

[2015-06-30 14:35] #14 closed

[2015-07-02 15:15] louisremi opened #15 "Add option "Disable when no .babelrc file in path""
Most linters I use have this option, which avoids having the plugin run in all projects which contain JS files.

[2015-07-02 15:21] gandm commented on #15
The plugin only runs when js files are in the `Babel Source Path` directory within a project directory. Isn't this good enough? If I do this then I have to traverse all the paths from source back to root looking for `.babelrc` files on every save.

[2015-07-02 15:31] louisremi commented on #15
I'm not sure how other plugin creators have optimized their plugin to avoid frequent lookups. But having to modify settings to ignore or include all my present and future project isn't manageable.
.babelrc detection is much more convenient.

[2015-07-02 15:41] gandm commented on #15
Well I can't cache it as the editor may be open for long periods. I could easily put this in but I have to think about it.

You can add ignore/only regex or globs to `.babelrc` and this would do it. It is also standard babel practice. Any good?

What linters check for .babelrc?

[2015-07-02 15:46] louisremi commented on #15
Creating a .babelrc in a project where I don't use es6 just so that the plugins ignore everything isn't convenient either.
Here's what linter-eslint package is doing: https://github.com/AtomLinter/linter-eslint/blob/master/lib/linter-eslint.coffee#L52

[2015-07-02 16:03] gandm commented on #15
Ok. They don't seem to check for babelrc, only the linter config file. I have meant to put a language-babel JSON config  file  that would be read from the project root that overrides the global language Babel settings. This would help. E.g. transpile on save could be overridden per project but the grammar is still active.

My other concern is js files that use Babel register and provide transpile

[2015-07-03 15:19] gandm commented on #15
Just published 0.9.0. which has a new flag that suppresses transpile if no `.babelrc` is in any directory along source path.

[2015-07-03 15:23] louisremi commented on #15
\o/ Yay you!

[2015-07-03 15:42] gandm commented on #15
Yeah but I just screwed the deprecation of some unused configs. Will have to pub another release!

[2015-07-03 18:06] #15 closed

[2015-07-04 07:45] vramana opened #16 "Clear the error notifications upon successful transpilation."

[2015-07-04 07:56] gandm commented on #16
Not sure I understand the issue.

[2015-07-04 08:02] vramana commented on #16
The error notifications that I get when have some wrong code don't go away after I fix them. I have to click on the close button to close them. I am hoping if my code transpiles successfully then those error messages can be closed automatically since they are no longer probably relevant.

[2015-07-04 14:57] #16 closed

[2015-07-06 02:36] chrishiestand commented on #16
Thanks for this improvement.

[2015-07-08 22:30] gilbox opened #17 "Uncaught AssertionError: true === false with Atom 1.0.2 upgrade"
Since upgrading atom today I'm getting this error all the time.
[code]

[2015-07-09 05:53] rohan-deshpande opened #18 "Suggestion: let us change the time the notifications stay up for, or their position?"
Using this with Atom, really liking it but the notifications are a little intrusive. I like them because they give me good feedback, but their position means I can't access tabs they cover, they also stay up for too long sometimes.

Would be great if changing their timing and position was configurable.

[2015-07-09 07:55] gandm commented on #17
language-babel v0.10.0, babel 5.6.15 and  atom 1.0.2 work for me. spec tests are also working on WIndows and OSX.

What version of language-babel and babel-core do you have? babel-core version can be found  in package.json at /Users/gbirman/.atom/packages/language-babel/node_modules/babel-core, language-babel version is in settings. AI also need the config.cson for atom ( in particular the languag

[2015-07-09 08:07] gandm commented on #18
Yes that would be nice. The notifications are part of the atom package and don't appear to have any timer option. Yes they do cover the tab bar and again this is atom core. I will raise issues there. Other than that the only other option is to change the method of notification but I'd prefer to keep it standard.

[2015-07-09 08:18] gandm commented on #17
I also need any `.babelrc` files that may be in any source file path directories.

[2015-07-09 08:22] rohan-deshpande commented on #18
Oh yeah totally keep them in line with the standard, I guess Atom need to provide ways to easily configure that stuff then.

[2015-07-09 10:56] stephanebachelier commented on #17
Same error for me:
[code]

Also:
atom 1.0.2
language-babel@0.10.0
babel-core 5.6.15

In config.cson:
[code]

FYI the error is thrown on every JS file even if it is es5.

For now I've disabled babel transpilation when no .babelrc file is present which works for me as I don't use es6 in my current project.

[2015-07-09 13:37] gandm commented on #17
I can't recreate this. The stack trace indicates the issue is deep inside babel-core and not within atom or language-babel. But something very weird is happening.

  at Def.Dp.bases (/Applications/Atom.app/Contents/Resources/app.asar/node_modules/babel-core/node_modules/ast-types/lib/types.js:408:12)
  at Object.<anonymous> (/Users/gbirman/.atom/packages/language-babel/node_modules/babel-core/lib/

[2015-07-09 14:27] gandm commented on #17
Do any atom packages you use do a dynamic compile by using "use babel"?

[2015-07-09 15:54] gilbox commented on #17
I'm not exactly sure what you mean by `use babel`. My project has a `gulpfile.js` that looks like this.

[code]

However, I actually have not had any more errors after restarting atom a few times yesterday. Thanks so much for your comments. It will help me try to debug this. I'll let you know if it comes up again. You can close this issue if you would like.

[2015-07-09 16:17] gandm commented on #17
@gilbox Thanks for that. I'm pretty sure it's because the package wasn't quite updated completely when you tried to save and we were using a version of ast-types provided by atom that was incompatible. Provided the package was completely updated a reload of Atom would fix the issue.

@stephanebachelier Do you still have an issue?

[2015-07-09 17:10] gandm commented on #18
https://github.com/atom/notifications/issues/86

[2015-07-10 02:52] Glavin001 opened #19 "Remove `label` from classes applied for syntax highlighting"
Text that matches `constant.other.object.key.js` is being matched and having the classes `string.unquoted.label.js` applied. The `.label` class applies Bootstrap's CSS which has bold, a different font size, and padding, which all contribute to making the rendered text a headache to edit because the visible location of the cursor does not match the actual cursor position, and therefore I end up edi

[2015-07-10 05:27] gandm commented on #19
Good catch. Someone else had this issue and I knew it was something else styling it but I couldn't recreate it and their issue went away on a reload of Atom. You say Bootstrap CSS is styling it but from where? a package? a theme?

[2015-07-10 05:38] Glavin001 commented on #19
Not sure, it could be Atom's core styles? In case it's a theme, here is my current theme settings:
- UI Theme: Atom Dark
- Syntax Theme: One Dark

Static screenshot showing what I see as the source style file of the `.label` rule:
![image](https://cloud.githubusercontent.com/assets/1885333/8612768/4594e7f2-26ac-11e5-87c2-7cf8db4e2276.png)

[2015-07-10 06:13] gandm commented on #19
It doesn't appear to be either of those themes, nor does it seem to be core, at least not on my system. I'm happy enough to accept the pull request but I'd like to understand what is doing this. Things shouldn't style text without being asked! I don't suppose you could list your installed packages and themes?

[2015-07-10 06:19] Glavin001 commented on #19
Gladly. I am also curious.

[code]

[2015-07-10 06:24] gandm commented on #19
Thanks. I'll look at that list. FYI when I put your example code in my editor it looks fine and inspector shows that that the computed style is generated from `app.asar\node_modules\one-dark-syntax\index.less`

[2015-07-10 06:36] gandm commented on #19
One further thing. If you revert your PR and reload Atom is the issue still present. I can't see why bootstrap.css is selected on your system when on mine it is the one-dark-syntax styling it!

[2015-07-10 07:13] alex3683 opened #21 "babelrc seems to be ignored"
To prevent from trying to compile `*.js` files, I added a `.babelrc` file with the following contents:
[code]
This seems to be ignored, as I still get the error message "Transpiled file would overwrite source file. Aborted!" when editing a `*.js` file (in my case the `Gruntfile.js`).
In my setup I want all `*.es6` files to be compiled to `*.js` files located next to their according source file.

I

[2015-07-10 07:45] gandm commented on #21
`.babelrc` files aren't ignored. babel-core still reads them as you would expect. The `internal scanner` was dropped in v0.8.0 for other reasons.

The example you gave above is working - the `.babelrc` file is read and no transpile is taking place but I'm not responding correctly. This is a bug and I will fix now.

There is an easier way to do what you want. just turn on the `Disable When No Babel

[2015-07-10 08:01] alex3683 commented on #21
Ah, okay. Seems I just don't know enough about babel-core :-) Thanks for finding and fixing the real issue.

The `Disable When No Babelrc In Path` option is not really suitable in my case, as some es6 and plain js sources are mixed within my project (one can argue, whether this is a good idea or not, but that's the way it is ;-))

[2015-07-10 08:18] #21 closed

[2015-07-10 08:25] gandm commented on #21
Hope that works.

[2015-07-10 09:06] alex3683 commented on #21
Indeed, it does. Thanks!

[2015-07-14 09:37] #19 closed

[2015-07-14 22:26] cperryk opened #23 "language-babel does not appear in package manager"
I'm not sure if this is a language-babel issue or a package manager issue, but `language-babel` does not appear in the package manager, and it seems to be the only package I have that's doing that. I'm using Atom 1.0.2 on OS X 10.11. Right now, the only way I can edit the package settings is by searching for the package on the "install" tab.

[2015-07-14 22:28] cperryk commented on #23
Never mind! Uninstalling and reinstalling language-babel fixed this.

[2015-07-14 22:42] cperryk commented on #23
Just kidding. After restarting Atom, language-babel fails to appear in package manager.

[2015-07-15 04:02] gandm commented on #23
Never heard of this issue.
Does `apm list` show `language-babel`?
Can you use `apm uninstall language-babel` and then `apm install language-babel` see if that fixes it? If you load atom and start a chrome inspector window - `developer/toggle developer tools` -  then `reload` atom via menu, do you see any console errors?

[2015-07-15 09:00] gandm commented on #23
I suspect it's an issue with https://github.com/atom/settings-view as there is nothing a package can do that can cause this ( I hope :-) )
maybe related to -
https://github.com/atom/settings-view/issues/573
This is thje reverse of what you see? https://github.com/atom/settings-view/issues/479

[2015-07-15 14:36] cperryk commented on #23
Maybe it is related to those issues, but I AM seeing the settings button in the install view. The problem is I'm only seeing the package [appear in the install view](https://www.dropbox.com/s/da00e6aeun1h33b/Screenshot%202015-07-15%2010.34.50.png?dl=0), not the [packages view](https://www.dropbox.com/s/49bin09634x6fo3/Screenshot%202015-07-15%2010.35.34.png?dl=0).

`apm list` shows `language-babel`

[2015-07-15 14:50] gandm commented on #23
That's why I said the reverse of your problem.

The stack trace looks to be an issue in the package manager area. As I said there is very little a package can do to display settings, it's pure atom. I'll leave this open until I hear otherwise.

[2015-07-15 14:54] gandm commented on #23
You may want to disable or uninstall task-list as it seems to have an issue.

Seems like this https://github.com/kenwheeler/task-list/issues/18

[2015-07-15 14:58] cperryk commented on #23
Ah, uninstalling task-list did the trick. Thanks for the help!

[2015-07-15 14:58] #23 closed

[2015-07-18 08:33] vith opened #26 "grammar support for flowtype is missing"
I've got a very small start towards this in [this branch](https://github.com/gandm/language-babel/compare/master...vith:flowtype) that only supports type annotations in argument lists. Return type annotations break things:

![screenshot from 2015-07-18 03 08 47](https://cloud.githubusercontent.com/assets/3265539/8760925/91361d9c-2cfc-11e5-83c8-46fc9f53957d.png)

Should the return types be added to

[2015-07-18 08:57] vith opened #27 "grammar support for arrow functions is inconsistent"
![screenshot from 2015-07-18 03 51 33](https://cloud.githubusercontent.com/assets/3265539/8761003/6e959372-2d00-11e5-90d5-e6a845292f1c.png)

The gray `=>` aren't getting any tags applied; the ones that are purple got `storage.type.function.arrow.js`. I agree with their coloring using `one-dark-syntax` because they're consistent with the `function` keyword, but shouldn't they technically be classif

[2015-07-20 09:10] gandm commented on #27
On holiday at the moment but will look at this when I'm back. I appreciate all your PR's and feedback.

Depends. The ecmascript def is that it is a Punctuator and also a ArrowFunction. I prefer the later.

As indicated in my README, Most of the grammar (except JSX) is based upon [babel-sublime](https://github.com/babel/babel-sublime) which in turn was based upon some textmate grammar. It also has

[2015-07-20 09:10] gandm commented on #26
On holiday at the moment. I will review this when back.

[2015-07-22 02:04] ezsper commented on #17
I'm getting this issue too.

Node version v0.12.7
Atom 1.0.2
Only with Nuclide package installed

AssertionError: true === false
  at Def.Dp.bases (C:\Users\Ezequiel\AppData\Local\atom\app-1.0.2\resources\app.asar\node_modules\babel-core\node_modules\ast-types\lib\types.js:408:12)
  at Object.<anonymous> (C:\Users\Ezequiel\AppData\Local\atom\app-1.0.2\resources\app.asar\node_modules\babel-core\lib

[2015-07-22 02:23] ezsper commented on #17
The problem seams to occur with nuclide-flow with language-babel, so I disabled nuclide-flow, now I'm not getting the error anymore, but I'm getting the following error when I save a js file:

"Failed to save remote file: Maximum call stack size exceeded"

It only stop occurring when I disable the language-babel pack, I didn't test this on local file, this is happening with me when editing a remot

[2015-07-22 02:25] ezsper commented on #17
My remote project babelrc has the following:

    {
      "stage": 0,
      "loose": "all"
    }

[2015-07-22 02:30] ezsper commented on #17
I could manage to stop the error: "Failed to save remote file: Maximum call stack size exceeded" by disabling the "Transpile On Save" option in the language-babel package settings.

[2015-07-22 06:15] gandm commented on #17
On holiday at the moment but I'll investigate when I return. Are you using Nuclide's remote file option or some other system?

[2015-07-22 11:43] ezsper commented on #17
Just nuclide remote
Em 22/07/2015 03:15, "Graham" <notifications@github.com> escreveu:

[2015-07-22 14:51] rosston opened #30 "Change content/class names of space inside JSX tags?"
The space within JSX tags currently has a class string of `.markup.raw.jsx` when rendered in Atom. This causes a problem for any theme expecting `.markup.raw` to be used for raw HTML within a Markdown document (https://github.com/wesbos/cobalt2-atom/issues/2).

`.markup.raw` (and `.markup` in general) seems to be mostly used for Markdown rather than XML/HTML. See [atom/language-gfm/grammars/gfm.cs

[2015-07-22 16:40] gandm commented on #30
No able to get test this until Friday. I'm not sure why I decided to use markup as a scope. I'll take a look on Friday.

[2015-07-22 21:29] aaronjensen opened #31 "classes permeate their scopes causing syntax highlighting to vary based on whether or not something is in a class"
![optgropu](https://cloud.githubusercontent.com/assets/8588/8837939/09d81226-307e-11e5-83bd-8a46f7095b08.gif)
![aduro - atom 2015-07-22 14-30-04](https://cloud.githubusercontent.com/assets/8588/8837944/13a402f6-307e-11e5-83c5-d844ea72ad84.png)

[2015-07-23 01:38] gandm commented on #31
What theme is this?

[2015-07-23 04:16] aaronjensen commented on #31
One Dark. I'm thinking that the bug may be w/ that syntax, as `entity.name.class.js` seems to be the only thing pertaining to a class that should be colored.

[2015-07-23 04:33] aaronjensen commented on #31
Actually, I wonder if it should be marked w/ .meta.class.body instead. That is colored correctly

[2015-07-23 04:45] aaronjensen commented on #31
https://github.com/gandm/language-babel/commit/9276ad6f46932e4e0fb701d1e6e6d43e0420334b and https://github.com/gandm/language-babel/commit/5f7889cf265f1a8aa6f159e47011d95c5cc289eb seem to fix this.

Could you release a new version when you get a chance please? Thanks!

[2015-07-23 06:46] vith commented on #27
Fair enough. I tried to check some other grammars for languages that have similar lambda function syntax but a lot of what I found looked like broken grammars. `language-csharp`, `language-java`, and `language-swift` either failed to label their arrows at all or incorrectly labeled individual characters in the arrow as separate operators. It's possible the sample code I was trying needed to be wra

[2015-07-23 06:48] gandm commented on #31
Yes. Planning to publish this weekend.

[2015-07-24 04:57] aaronjensen opened #32 "Multi-line arrays are not auto-indented correctly"
Currently it looks like this:

[code]

I expect it to look like this (how https://github.com/atom/language-javascript indents them):

[code]

[2015-07-24 09:38] nmn commented on #26
+1

[2015-07-24 10:56] #30 closed

[2015-07-24 11:35] gandm commented on #32
I can't replicate this.
![indent](https://cloud.githubusercontent.com/assets/2313237/8873641/592f8290-3200-11e5-9849-0766430eff32.gif)
.

[2015-07-24 12:53] gandm commented on #17
@exsper OK I can't test this as I don't use OSX for dev. Nuclide doesn't support Windows fully e.g. Nuclide remote requires Watchman which isn't available for Windows, nor is Flow supported on Windows. I notice from the stack trace that you use Windows so I don't know how you got it working.

[2015-07-24 14:27] ezsper commented on #17
My remote server is Linux and I have the nuclide server, flow and watchman installed and running there. As far as I know, I don't need to install these in my local server as well. Nuclide remote project do a bridge between my local Atom running app on Windows to the Nuclide Server installed on my Linux dev server.

[2015-07-24 14:29] aaronjensen commented on #32
It looks like it is the [react](https://github.com/orktes/atom-react) package that is causing it. It works when that is disabled. I'll open an issue there.

[2015-07-24 14:34] gandm commented on #17
ok i'll config my Ubuntu server and try to test this.

[2015-07-24 16:39] aaronjensen commented on #32
This is fixed in react@0.12.6

[2015-07-24 16:39] #32 closed

[2015-07-25 09:17] gandm commented on #31
0.10.3 released

[2015-07-25 09:17] #31 closed

[2015-07-27 15:06] gandm commented on #27
I haven't published this but can you check out the last commit I made that should fix this?

[2015-07-27 15:08] gandm commented on #26
I've just committed a grammar change ( but not published) that I think gives you flowtype on functions/fat arrows. No support for let/const/var as this need thinking about. Let me know if it creates problems?

[2015-07-27 15:53] gandm commented on #26
Strike that!! I seemed to have regressed!

[2015-07-27 15:58] nmn commented on #26
should I not update to latest version then??

[2015-07-27 16:04] gandm commented on #26
Yes try it - When I just tested it again I was using someone else's grammar - Doh!! Now I've set it to mine it seems OK.

Don't forget the published version is still the old one. You will have to pull the one from github.

[2015-07-27 16:04] nmn commented on #26
hmm.. Ok let me try

[2015-07-27 16:06] nmn commented on #26
Hey, use this file for flow-tests: https://gist.github.com/kastermester/ad79da3e48064effd82e
That with  the React source code is probably the best test possible.

(i'm still trying on my own code-base, will report back shortly)

[2015-07-27 16:16] nmn commented on #26
Ok, so I just tried it and it's not fixed. The colour has changed though.

I don't know how grammars work, but here's the problem:
[code]
That is a valid declaration for flow. However language-babel interprets that as JSX and everything after the first `<V>` becomes one colour. (kind of like the colour of text in a JSX block).
 Putting this comment at the end of the line seems to fix the problem:

[2015-07-27 16:29] gandm commented on #26
Yeah it's definitely showing as JSX. Thanks for the flow test file above. I think this is going to be pretty difficult with the current grammar. I thought that templates may be an issue. Leave it with me.

[2015-07-27 16:44] nmn commented on #26
Thanks!

[2015-07-28 10:51] JacopKane opened #34 "Uncaught TypeError: Cannot read property 'version' of null"
This error pops up whenever babel will starting to transpile a file on save.

**Atom Version**: 1.0.2
**System**: Mac OS X 10.10.4
**Thrown From**: [language-babel](https://github.com/gandm/language-babel) package, v0.10.3

### Stack Trace

Uncaught TypeError: Cannot read property 'version' of null

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-07-28 11:00] JacopKane commented on #34
Apparently it's not happening when 'Create map' option is disabled.

[2015-07-28 14:27] gandm commented on #34
I'm guessing you have a `.babelrc` file in the path that has a `sourceMaps` option set to `inline`? If so you must disable the mapping option as the source file itself has the mapping info appended to it. This is mentioned in the README. Having said that I shouldn't gen this error so I will put in a check to stop it.

[2015-07-28 22:10] JacopKane commented on #34
@gandm I see... Yeah that's correct. Sorry that I missed that info. Thanks !

[2015-07-28 22:10] #34 closed

[2015-07-29 06:06] #27 closed

[2015-08-04 21:25] breandr opened #37 "TODO highlighting not working"
When setting syntax to Babel ES6 Javascript, syntax highlighting from https://atom.io/packages/language-todo does not work.

[2015-08-04 21:25] breandr commented on #37
Cross issue https://github.com/atom/language-todo/issues/32

[2015-08-04 21:27] kevinsawicki commented on #37
Comment patterns need to use `begin`/`end` patterns instead of `match` patterns to enable injection grammars (like language-todo) to match in between.

These need to be adjusted: https://github.com/gandm/language-babel/blob/master/grammars/Babel%20Language.json#L388-L401

You can follow the pattern used recently in language-go to support this: https://github.com/atom/language-go/commit/e5180ac1faa

[2015-08-04 21:52] gandm commented on #37
@breandr Can you give me an example of the js TODO  where this is an issue so I can test. Thanks

[2015-08-04 21:54] breandr commented on #37
It doesn't work in any scenario for me. So creating an empty file with `//TODO: todo is not highlighted` should be sufficient.

[2015-08-05 06:17] #37 closed

[2015-08-07 19:37] MexieAndCo opened #38 "Upgrade to 0.10.5 causes 'Script: Run' (ctrl-shift-B) command (in the script package) to fail"
As soon as I reverted to 0.10.4, Script: Run worked properly again. No other changes were made (by me).

[2015-08-07 20:33] gandm commented on #38
This is related to a change of script scope name in my grammar. I have raised an issue at Atom-script and hopefully it will be resolved. If not I will do a PR on it and see if it will be accepted. In the meantime you can change either my grammar  file or atom-script config file so they both have the same string.

From: MexieAndCo
Sent: ‎Friday‎, ‎7‎ ‎August‎ ‎2015 ‎20‎:‎37
To: gandm/language-babel

[2015-08-08 01:48] MexieAndCo commented on #38
Thanks. I made the change to the atom-script lib/grammars.coffee file and updated language-babel to 0.10.5. The Script: Run command is working again.

[2015-08-08 01:48] #38 closed

[2015-08-09 17:44] gandm opened #39 "flowtype support for let, var and const missing."
I haven't released support for typing a var. e.g. `let a: string ` I have experimented with quite complex types for vars as well as multiple vars in a single statement with assignments and the only way I can make it work well is if I can guarantee a statement termination. e.g. ;

I will take another look given time.

[2015-08-09 17:46] gandm opened #40 "Issues with arrow functions without parenthesis."
statements like `arg => {}` are tricky to parse well using current grammar. Use `(arg) => {}` as a alternative.

[2015-08-09 17:49] gandm commented on #26
@nmn, @vith - Just rolled out 0.11.0 with support for flowtype. See https://github.com/gandm/language-babel/issues/39 and https://github.com/gandm/language-babel/issues/40 for known problems.

Let me know if you have any issues.

[2015-08-10 03:37] #26 closed

[2015-08-10 11:05] gandm commented on #40
Fixed all known arrow function issues in 0.11.1

[2015-08-10 11:05] #40 closed

[2015-08-10 13:21] gandm opened #41 "Flowtype: arrow function polymorphs not supported."
e.g.
```var play = async <a,t>(args: string): string => {}```

\<a,t\> not working.

[2015-08-10 13:55] gandm commented on #41
fixed in
https://github.com/gandm/language-babel/commit/520c19d78b7e589f01c0baacc1757435f2c1fc3b
and
https://github.com/gandm/language-babel/commit/69f0de18ba62a01e3478acd0d018e64906fb87b5

[2015-08-10 14:07] #41 closed

[2015-08-11 16:08] astephenb opened #43 "Object literal fat arrow with argument parens causes syntax highlighting error in jsx"
Using the fat arrow syntax with argument parens in an object is causing weird syntax highlighting for the remainder of a jsx file.
![with parens](https://cloud.githubusercontent.com/assets/3619060/9202749/3a149a74-4008-11e5-9aaa-7b9443a774af.png)

However, omitting the parens, or using the function shorthand syntax works fine.
![without parens](https://cloud.githubusercontent.com/assets/3619060/92

[2015-08-11 16:54] gandm commented on #43
I can see what is happening. Neither of the first two are working, but the second is less offensive. In the first two, because the grammar doesn't expect a literal named fat arrow in an expression the
[code]
is being interpreted a flow type of a function named getAttribute returning some form of callback.

I'll look into this.

[2015-08-11 17:14] gandm commented on #43
I've just committed a change to the master branch that should fix this but may have other issues. It is not published to atom. Any chance you can check this out by downloading the new grammar files  and replacing the current ones and reloading atom?

[2015-08-11 18:10] gandm commented on #43
I should have said - is being interpreted as an argument named getAttribute being passed to a function that returns some form function. Or in the second case returning a value of type name.

[2015-08-11 21:50] astephenb commented on #43
I'll give it a shot.

[2015-08-11 21:52] astephenb commented on #43
It works! Thanks.

[2015-08-11 21:52] #43 closed

[2015-08-11 22:14] gandm commented on #43
Thanks for your help. I'll publish this once I've done some more checks.

[2015-08-12 11:24] klapec opened #44 "Wrong ES6 method definition colors"
Since 0.11.0, parentheses and the parameters themselves are displayed in different colors than before.

@0.10.5:
![https://i.imgur.com/rlYOod1.png](https://i.imgur.com/rlYOod1.png)

@0.11.0 (and 0.11.4 as well):
![https://i.imgur.com/XqxaqEg.png](https://i.imgur.com/XqxaqEg.png)

Was this an intended change? Here's how it looks on Sublime Text 3 with the babel package installed (also notice the `i

[2015-08-12 18:08] gandm commented on #44
When I introduced flow support I changed the value of arguments passed in functions and methods from `variable.parameter.function.js` to `storage.type.variable.flowtype` for no other reason than the color of parameters was just white in the One Dark scheme and it is just a variable after all. I guess the original is the more correct scope name. Do you have strong opinion on this? Not a lot is left

[2015-08-12 18:10] gandm commented on #44
I have no idea about sublime-text as I don't have it and have never used it. My guess is that the syntax styling  for imports is different on both platforms. The scope name for import is `keyword.control.module.js`

[2015-08-12 20:49] klapec commented on #44
No, I don't have strong opinion on this. It's not a big deal. I recently switched from Sublime and this particular color scheme is something that I'm used to. I haven't had any problems with 0.10.5 so I'm probably going to stay on it and not update as it "just works". Thanks for the reply.

[2015-08-12 21:26] gandm commented on #44
I will change the colour of the parens in my next release. That is an error.

[2015-08-12 21:27] #44 closed

[2015-08-13 01:16] spencersteers opened #45 "Occurrences of 'type' are colored incorrectly"
Any occurrence of the word 'type' is colored like other storage keywords. It also seems to have weird effects for the rest of the line as well.

<img width="169" alt="screen shot 2015-08-12 at 7 10 52 pm" src="https://cloud.githubusercontent.com/assets/2586501/9240704/9c5d4860-4126-11e5-9fe3-f60adc947746.png">

I poked around a bit and it looks like the pattern is here: https://github.com/gandm/la

[2015-08-13 03:00] gandm commented on #45
Are you using language-babel 0.11.5? What syntax theme? I can't recreate. It could be something above the code in the image you sent me causing it. If you have more code above can I have it?
One Dark
![image](https://cloud.githubusercontent.com/assets/2313237/9241740/7091d068-416f-11e5-9947-607a6ef1b2af.png)
Atom Dark
![image](https://cloud.githubusercontent.com/assets/2313237/9241750/855fef5c-416

[2015-08-13 03:12] gandm commented on #45
Ignore my previous comment I'd left 0.10.5 running when I did the above screen shots! I can see it now. I'll check.

[2015-08-13 03:34] #45 closed

[2015-08-13 03:57] gandm commented on #45
Fixed in 0.11.6. Sorry about that.

[2015-08-13 17:32] spencersteers commented on #45
No worries! Thanks for the quick fix!

[2015-08-15 10:28] #39 closed

[2015-08-15 10:35] gandm opened #46 "Known Grammar Limitations:-"
This grammar has certain limitations.

* let, var and const variables support flow typing but if used then the statement must be terminated with a semi-colon. Multiple variables and assignments may appear in the statement but the first must have a flow type else the grammar assumes no flow types for the remainder of the statement.

* ES7 Class properties with flow typing must terminate with a semi

[2015-08-23 11:45] peduxe opened #47 "String and fat arrow syntax highlighting for es7 class properties"
Just strings within array square brackets gets highlighted, in the other cases it is white.

\+ `arrow functions` not highlighted as well.

![example with material syntax:](http://i.imgur.com/heJMBr8.png)

![example with one dark syntax:](http://i.imgur.com/a5UhMjt.png)

[2015-08-23 12:16] #47 closed

[2015-08-23 12:17] gandm commented on #47
Hope 0.11.9 fixes it for you.

[2015-08-23 12:25] peduxe commented on #47
@gandm sweet, that was fast :+1:

[2015-08-26 04:22] Daniel15 opened #48 "Suggested themes?"
This is not really an issue, but I couldn't find a place for general discussion.

Do you have any suggested dark themes to use along with this package? The default Atom theme doesn't seem very nice, it has a lot of red in it. Seems like a lot of symbols are red.

[2015-08-26 09:32] gandm commented on #48
Not sure what to suggest. There are always some issues with mixing themes and grammar scoping, either inconsistencies or one colour being dominant. If I were a graphic designer I'd do my own theme to go with this grammar, but alas....! FWIW I'm using One Dark but it can be a bit red depending on the code. I've added some screen shots of some other dark themes I've looked at.

One Dark
![image](htt

[2015-08-26 14:15] peduxe commented on #48
Material Syntax is pretty good as well, I prefer to use it with One Dark UI.

[2015-08-26 14:24] peduxe opened #49 "Regex or escape character being highlighting in strings"
![Example](http://i.imgur.com/RywVFwl.png)

Here I want to type the instance where my sql server runs and it appears it's highlighting a javascript regex or escape character, the core javascript grammar behaves the same way.

I expected it would just highlight when it's one of those escape characters for e.g:
* newline: `\n`
* carriage return: `\r`
* or escape quote: `\'`

[2015-08-26 14:57] #49 closed

[2015-08-26 15:22] gandm commented on #49
Fixed in 0.11.11

[2015-08-27 13:59] #48 closed

[2015-08-28 04:27] Daniel15 commented on #48
Thanks! @gandm - Which Visual Studio Dark theme is that? I searched for Visual Studio dark but there's a few different themes for it. I use Visual Studio a lot too, so having a matching theme would be great :D

[2015-08-28 09:39] gandm commented on #48
@Daniel15 The Visual Studio Dark theme as shown in the last screenshot is this one https://atom.io/themes/visual-studio-dark-syntax

[2015-08-28 22:10] mazzy89 opened #51 "Is it possible save in a config file where the transpiled files will be written?"
The package allows to define the folder where the files will be transpiled filling in the setting the field `Babel Transpile Path`. Is is possible to store this value in a config file? is is maybe in babelrc?

[2015-08-29 05:01] gandm commented on #51
I'll look at doing this. I won't use .babelrc as I don't want to pollute it. I'm not sure how flexible this should be. One config file in the projects root folder or maybe look for config files in the path from the source file up to the project root. Probably the latter.

[2015-08-29 10:08] mazzy89 opened #52 "How activate flow?"
Should I install anything else to activate flow grammar? I put `/* @flow */` at the beginning of file but there is no check of the file

[2015-08-29 11:50] gandm commented on #52
Language-Babel just supports flow typing for syntax highlighting, it doesn't interact with flow itself. Babel will strip out any flow typing and effectively replaces the  old Facebook JSX Transform tool and is now the Facebook recommended way of generating pure JavaScript code.

If you need to flow check a file you need to put the `/* @flow */` at the top of the file and then setup flow so that wh

[2015-08-30 07:09] #52 closed

[2015-08-31 12:25] zyklus opened #53 "Highlighting fails on ternary in function statement"
Minimal case:

[code]

Everything in the "else" condition of the ternary completely fails to get highlighted.

[2015-09-01 10:21] #53 closed

[2015-09-02 18:19] duro opened #55 "Self closing tags"
I am having a hard time in the grammar getting self closing tags to style properly.

Here is what they send up looking like:

![Self Closing Tags](https://cloud.githubusercontent.com/assets/17632/9640029/1bf0f53e-5164-11e5-970e-ecc6017760c6.png)

Checking the inspector, it appears that the closing tag just gets treated like raw text:

![Inspector](https://cloud.githubusercontent.com/assets/17632/9

[2015-09-02 19:14] #55 closed

[2015-09-02 19:15] gandm commented on #55
Should be fixed. Can you let me know what the theme you are using is so I can add it to my tests. Thanks.

[2015-09-02 20:49] peduxe opened #56 "Super calls scope"
Would you restrict [this scope](https://github.com/gandm/language-babel/blob/master/grammars/Babel%20Language.json#L925-L926) just to be applied inside a class?

I want to give it another highlight color without overwriting variable declarations, imports, etc.

[code]

[2015-09-02 22:10] Daniel15 opened #57 "Flow generics in argument breaks syntax highlighting"
Repro:
[code]

Produces:
![Screen shot of bug](https://cloud.githubusercontent.com/assets/91933/9646002/645df446-5184-11e5-910d-8e6d57009b71.png)

Notice that `mutateFn` is not highlighted at all, the `return` keywords change colour, the braces are red, and `third()` is not highlighted correctly.

This is how it looks when using [language-javascript-jsx](https://atom.io/packages/language-javascrip

[2015-09-03 00:25] AddictArts opened #58 "Setting "Disable when no Bablerc File in Path" does not disable the package"
The grammars are still enabled, is it possible to have a disable for the grammars? It can conflict with other grammars that provide the same function through a different scope.

[2015-09-03 09:39] gandm commented on #58
No it's not possible. I'm interested to know what the conflict is?
I guess you prefer other JavaScript grammars so the only suggestions I can make is either i) fork my repo and remove the grammar and use that or just remove the grammar from the downloaded package or ii) use https://atom.io/packages/file-types and associate a grammar with a file type/directory.

[2015-09-03 09:57] #57 closed

[2015-09-03 09:59] gandm commented on #56
Not easily. Do you have an example of using super outside of a class method?

[2015-09-03 10:30] peduxe commented on #56
Oh I forgot to add above that the `super` keyword also styles in the following case,

[code]

[2015-09-03 11:17] gandm commented on #56
I don't know how you are using super as a variable in a let statement. Anyway, it's going to too difficult to do this.

[2015-09-03 11:32] #56 closed

[2015-09-03 13:43] peduxe commented on #56
@gandm not a big deal, I would like to contribute but it seems that there are invalid characters in most of the regexes, I guess it's escaping them but i'm not sure.

[2015-09-03 14:36] gandm commented on #56
I'm not sure where the invalid regexs are. Please let me know. Grammar info https://manual.macromates.com/en/language_grammars and http://www.apeth.com/nonblog/stories/textmatebundle.html

[2015-09-03 14:53] peduxe commented on #56
There are characters which aren't valid regex,

[invalid](https://regex101.com/r/vJ1mB6/1)

[valid](https://regex101.com/r/vJ1mB6/2)

Thanks for the links, it's more clear now how the grammars are created.

[2015-09-03 17:53] gandm commented on #56
The grammars don't use the JavaScript regex, they use the Oniguruma RegEx engine so that's why they seem invalid.

[2015-09-03 18:34] peduxe commented on #56
@gandm oh never heard of oniguruma regex haha

[2015-09-03 20:57] AddictArts commented on #58
It conflicted for me with https://atom.io/packages/language-javascript-jsx, actually it won over that one, maybe the order they were applied. That package has a scope name source.js.subtlegradient and the built in source.js. I was able to use file-types to set jsx to source.js, thanks. Maybe default to File Types:  es6, babel and let people add js, and jsx or turn off js and jsx? Atom's language-j

[2015-09-03 21:27] Daniel15 commented on #57
Wow, that was quick! Thanks @gandm!

[2015-09-03 21:31] gandm commented on #58
No problem.  If you are using the atom provided language-javascript package for jsx then you aren't using language-Babel for the transform of JSX, so that should be ok. I'm sure you are aware Babel is now the standard jsx transform tool. http://facebook.github.io/react/blog/2015/06/12/deprecating-jstransform-and-react-tools.html

[2015-09-03 21:31] #58 closed

[2015-09-05 22:39] duro opened #59 "Template strings do not close"
If I use ES6 template strings, everything else after the closing tick gets a `quasi` and `string` class.

<img width="1326" alt="window_and_server_js_-__users_adamduro_workspace_projects_zg-redux-webpack_-_atom" src="https://cloud.githubusercontent.com/assets/17632/9701558/309ef1d4-53e4-11e5-9193-0223e20d7969.png">

<img width="493" alt="window_and_server_js_-__users_adamduro_workspace_projects_zg

[2015-09-05 22:47] duro commented on #59
BTW, here is the theme I am using:

https://github.com/duro/duro-oceanic-next

[2015-09-06 06:26] gandm commented on #59
I can't recreate it. Not sure what the embedded planet is.
Atom Dark
![image](https://cloud.githubusercontent.com/assets/2313237/9702899/1752ca50-5468-11e5-9698-ccc688c49b59.png)
Duro Oceanic Next
![image](https://cloud.githubusercontent.com/assets/2313237/9702903/449db664-5468-11e5-8ded-2bab70b9c2eb.png)
Probably something prior to the quasi. Can you let me have the source file up to line 25?

[2015-09-06 13:02] iamdevonbutler opened #60 "Atom 5.8.22 Transpiler error unexpected token"
It doesn't like the quotes around property keys.

[code]

[2015-09-06 13:21] iamdevonbutler commented on #60
Figured it out.

Needed to add module.exports = {}.

[2015-09-06 13:21] #60 closed

[2015-09-07 10:11] HeyHugo commented on #12
I think I'm experiencing this same issue
Unknown plugin "react-transform"
on saving files for this project https://github.com/gaearon/react-transform-boilerplate
I tried installing the plugin in atom path (is it same as apm?) but without succes.

[2015-09-07 10:23] vramana commented on #12
@HeyHugo I am also using "react-transfrom" plugin. It works perfectly fine for me. May it is a problem with environment variables.  I am on Ubuntu 14.04.  What is your system?? Have you tried opening atom from your terminal?

[2015-09-07 12:04] HeyHugo commented on #12
@vramana Thanks for helping me troubleshoot. I'm on OS X Yosemite. Running atom from terminal works perfectly fine. Have you tried the [repo] (https://github.com/gaearon/react-transform-boilerplate) I linked to with language-babel?

[2015-09-07 14:26] vramana commented on #12
I am using the same setup in my own app. It works properly fine for me. If change the plugin-name to somthing else, language-babel complains to me that plugin is not found. So, it is checking my local packages as far as I know.

[2015-09-07 14:26] gandm commented on #12
@HeyHugo It works for me. I use Windows so don't know about OS X. On windows babel-core searches in the following node-modules directories for plugins.
[code]
I cd to C:\Users\username\AppData\Local\atom and then did a `npm install  babel-plugin-react-transform`

I then added the following to my .babelrc
[code]
Worlked for me.

[2015-09-07 14:54] HeyHugo commented on #12
@gandm Thanks for taking time troubleshooting with me =)

I think the corresponding path on OS X is
/Applications/Atom.app/Contents/Resources/app/apm
Here I have installed the plugin with `npm install babel-plugin-react-transform` but I still get the unknown plugin error in atom.

I'll try and see if I have the same problem on my windows PC later.

[2015-09-07 15:01] gandm commented on #12
Maybe try it in a less specific folder - the apm folder seems wrong to me. Try going to /Applications/Atom.app and doing the npm install there.

[2015-09-07 15:14] HeyHugo commented on #12
Tried multiple parent folders too now with same result. The reason I tried the apm folder was that it already had a package.json + node_modules folder I figured that could work.

Trying this on windows machine soon.

[2015-09-07 15:19] gandm commented on #12
If you can't solve it I can tell you how to use chrome inspector to debug Babel-core to find out where it is looking. Let me know.

[2015-09-07 19:36] HeyHugo commented on #12
On windows - no problems.

Yeah I'm having a look at the chrome inspector now.

found that some files seems to be loaded from:
/Users/hugo/.atom/packages/

So I've tried installing babel-plugin-react-transform there and down the tree on some places without success.

[2015-09-07 19:43] gandm commented on #12
Before going through inspector to see what Babel-core is actually using you might want to just console.log(process.cwd()); that is normally where Babel looks. This may not always be the case, and if not I will put together some screenshots to explain where to debug it.

[2015-09-07 20:35] gandm commented on #12
Save a babel file first to get the error and preload babel-core then Using Inspector

Search for `babel-plugin-` and open the file plugin-manager.js

![image](https://cloud.githubusercontent.com/assets/2313237/9722539/f78b6a8e-55a6-11e5-9781-370a01903dc2.png)

breakpoint here
![image](https://cloud.githubusercontent.com/assets/2313237/9722547/260c080a-55a7-11e5-98d0-7e82a5e79580.png)
Trace into to

[2015-09-07 21:23] HeyHugo commented on #12
Thanks for all this help, it's really kind of you. This is what's in my "paths" array looks like so something seems off.
<img width="368" alt="screen shot 2015-09-07 at 23 18 06" src="https://cloud.githubusercontent.com/assets/1010517/9722949/fcff8260-55b6-11e5-9bf3-baf269b2a9fe.png">

I recently installed nvm so I could tryout io.js maybe this has broken my node/npm somehow. I'll try remoe it and

[2015-09-07 23:58] vramana commented on #12
@HeyHugo I use node through nvm. So, it shouldn't have any effect.

[2015-09-08 08:05] janmarek opened #61 "Bad syntax highlighting with export class"
In this code

[code]

class and static are not highlighted as keywords

[2015-09-08 08:53] gandm commented on #61
Yeah sorry about that. I realised after I released 0.13.3 and fixed it in https://github.com/gandm/language-babel/commit/a56518bc9d2e32481eb828f5637dee7445180636 but haven't published it yet. Will do so shortly.

[2015-09-08 09:10] #61 closed

[2015-09-08 09:31] HeyHugo commented on #12
I installed the plugin to the very root now (creating "/node_modules") and that solves the problem. It doesn't feel so good having a node_modules there but hey it works =)

Anyways, thanks for all the help, language-babel is a great package.

[2015-09-08 19:47] AlexKvazos opened #62 "v0.13.3 broke syntax highlighting for function parameters"
v0.13.2 shows like this:
![](https://i.alexkvazos.me/DaemonModel_js_-__Users_alexkvazos_Documents_Projects_CubedHost_Prisma-Panel_-_Atom_1B9F7219.png)

v0.13.3 shows like this:
![](https://i.alexkvazos.me/DaemonModel_js_-__Users_alexkvazos_Documents_Projects_CubedHost_Prisma-Panel_-_Atom_1B9F727E.png)

The function parameters do not have their own style anymore. And something happened some release

[2015-09-08 21:44] gandm commented on #62
jsdoc and jsduck highlighting was introduced by others in two PR's. https://github.com/gandm/language-babel/pull/50 and https://github.com/gandm/language-babel/pull/54
I removed the parameter colour as explained here https://github.com/gandm/language-babel/issues/44
I will take another look at this but I can't promise anything since the flowtype support has made the whole processing quite differen

[2015-09-08 21:48] AlexKvazos commented on #62
I don't care if we can't go back to the unique parameter color but having them in plain white with no style difference, then it will get a bit painful. I hope it can go back to how it was on 0.13.2.

[2015-09-08 22:07] gandm commented on #62
Themes make a huge difference and it is almost impossible to keep people happy. e.g.screen shots below the Left Image is 0.13.3 the right is 0.10.5

Visual Studio Dark
![image](https://cloud.githubusercontent.com/assets/2313237/9748626/f00f12ce-567d-11e5-87a2-b25ba02c818c.png)

One Dark
![image](https://cloud.githubusercontent.com/assets/2313237/9748639/0b3a6b16-567e-11e5-902d-04874d12e26d.png)

O

[2015-09-08 22:10] AlexKvazos commented on #62
I see, man that's sad. Any way you can hint me on how to modify a theme so that it works with your new setup? class names or anything. I just copied a theme and modified a few things long ago that I forgot what was the original one.

[2015-09-08 22:14] gandm commented on #62
I'll take a look and see what can be done. Leave it with me.

[2015-09-08 22:17] gandm commented on #62
If you just want to colour the arguments in lines 1 and 3 the same, e.g. all orange, that's easy. If you want methods/functions/arrowfunctions to be different from a function call that becomes a problem as a I use single regex grammar path for both.

[2015-09-08 22:19] AlexKvazos commented on #62
Nono, having the arguemnts on line 1 and 3 all the same color (orange) is enough. I don't see a need to have different color on parameters of methods/functions/arrowfunctions.

[2015-09-08 22:26] AlexKvazos commented on #62
I just pushed the theme i'm using to github, it is not linked to atom package registry yet though.
https://github.com/AlexKvazos/DimmedMonokai

[2015-09-08 22:52] gandm commented on #62
Ok will look tomorrow.

[2015-09-09 06:39] gandm commented on #62
I've just pushed 0.13.5 out that has made some small changes. You can modify your base.less file in your theme to include the following classes that will change how your code looks. The examples below are pretty horrid but I'll leave it to you to choose correct colours.

[code]

In your theme this looks like....Aghhhh!

![image](https://cloud.githubusercontent.com/assets/2313237/9754956/bb22e660-5

[2015-09-09 17:57] gandm commented on #59
Closing this. Open if it's still an issue.

[2015-09-09 17:57] #59 closed

[2015-09-09 17:57] #62 closed

[2015-09-09 21:35] AlexKvazos commented on #62
Pretty close, Is there a way that the `.readwrite` affects only function parameters? it also colors the imports and that looks very funky.

[2015-09-09 22:10] gandm commented on #62
If you mean can I change the scope of `import WebServer`  as shown below, I probably could but I'm not sure I would want to. It seems appropriate to me for it to remain as `variable.other.readwrite.js` Other common JavaScript packages do the same. The JavaScript default package does nothing at all so normally defaults to white.

![image](https://cloud.githubusercontent.com/assets/2313237/9775275/e

[2015-09-10 04:03] AlexKvazos commented on #62
Alright, I think I will get used to Tomorrow Night again haha. Thanks a lot for your help! And thank you for maintaining this package.

[2015-09-10 17:54] Daniel15 opened #63 "Flow + extending Immutable Records = Broken syntax highlighting"
Admittedly this is probably an edge case that might not occur a lot. Flow doesn't have first-class support for [immutable-js records](https://facebook.github.io/immutable-js/docs/#/Record), so a slightly redundant hack to make Flow understand the types of the getters is to make a class that extends the record and adds Flow types as properties. The immutable-js docs also explicitly mentions that im

[2015-09-10 18:53] gandm commented on #63
Interesting. Actually the class field `foo: string` in the Class First is wrong as well. It should be detected as a flow type `support.type.builtin.primitve.flowtype` and it isn't. It is instead scoped as a`support.module.node.js` Putting the  class definition extend parameter on a single line fixes that issue as well. I'll take a look tomorrow. Thanks.

[2015-09-11 04:55] #63 closed

[2015-09-11 07:20] Daniel15 commented on #63
Thanks for being extremely responsive to issues, I really appreciate it :smile:

[2015-09-11 21:05] bolinfest opened #64 "Request: separate version of the plugin that is just the grammar"
On Nuclide, we have a whole process for all things transpilation, so we really just want proper syntax highlighting for ES6+ files. Trying to navigate the settings that come with this package is intimidating/confusing.

Specifically, looking at the Settings, I don't know what "Transpile on Save" means. Transpile to where? Is this package writing files? If so, where are these files being written?

[2015-09-11 21:26] bolinfest commented on #64
Or how about just changing `transpileOnSave` to default to `false`?

https://github.com/gandm/language-babel/blob/master/lib/config.coffee#L4

[2015-09-11 21:32] bolinfest commented on #64
After looking through the code, I see that I can just uncheck the "Transpile On Save" checkbox to get what I want. However, I don't feel comfortable encouraging others en masse (say anyone who works on Nuclide) to use this if I know they're all going to hit this speedbump with the popup.

[2015-09-11 21:59] gandm commented on #64
I thought the readme was quite explanatory but I'm sorry if it is confusing. If you want nuclide to do everything then as you rightly say just disable 'transpile on save' which in fact just runs the transpiler as a check for syntax but does nothing else. This was written before Nuclide and I just needed a quick way to get ES2015 running.  The problem I have is that I have no idea if anyone is usin

[2015-09-11 22:01] bolinfest commented on #64
@gandm Thanks for the quick reply: defaulting to disable 'transpile on save' would certainly do it for me. Then no one encounters unexpected pop-ups after installing this package for the first time. Those who need functionality beyond syntax highlighting can easily dig into the settings to find it.

[2015-09-11 22:02] gandm commented on #64
Relevant part of readme is
Use Cases

Pure JavaScript with no EcmaScript 2015 requirements.
Just use the Grammar to color code the scripts and turn off the package setting  Transpile On Save .

[2015-09-12 11:26] #51 closed

[2015-09-12 11:28] gandm opened #65 "V0.14.0 "Transpile on Save" is now set to false by default. Please re-enable if required."

[2015-09-12 18:48] bolinfest commented on #64
Perfect -- thank you so much!

[2015-09-14 21:28] Daniel15 opened #66 "Infinite recursion in transpiler.coffee"
This call appears to recurse infinitely when using Nuclide to edit files on a remote server:
[code]

This exception is thrown on save:
[code]

I have "Transpile on save" turned off.

[2015-09-14 21:34] Daniel15 commented on #66
In the meantime, I downgraded to the previous version by running this command:

[code]

[2015-09-14 22:20] gandm commented on #66
Oh! It works ok on my native filesystem. It also seems to run TravisCI tests for OSX ok. I don't have Nuclide setup so I can't test it on a remote fs. I'm guessing it's something to do with the the compare on line 174 below in transpiler.coffee. I've put in a console.log line at 173 to see what is happening as it traverses paths to read any possible local config files. Even with transpile on save

[2015-09-15 04:44] Daniel15 commented on #66
This is what the output looks like:
[code]

Maybe a temporary hack could be to avoid doing the search if the path contains `nuclide://`? @bolinfest (who works on Nuclide) probably has more insights here.

[2015-09-15 04:46] bolinfest commented on #66
https://github.com/gandm/language-babel/pull/67 is my proposed fix to this issue. I don't want others to have to special-case `nuclide://`.

[2015-09-15 06:54] gandm commented on #66
I've just pushed some changes to the repo that should fix your problem. I won't publish until you've checked it works . I've added another config option that is disabled by default `allowLocalOverride` that will stop traversal of the directory. I also trap for infinite recursion should the setting be on.

[2015-09-15 07:42] seekshiva opened #69 "Support for .jsx extension"
I have a codebase where JSX code is stored using .jsx extension, and `webpack` converts various entrypoints to the corresponding js file on save.

The 'Transpile On Save' is a great feature. I don't have to refresh the page, and check if something is broken. But it only seems to be working on files with .js extension and not the ones with .jsx extension.

Would you recommend renaming all .jsx file

[2015-09-15 08:39] gandm commented on #69
.jsx files are supported by default. If another grammar also supports .jsx and/or has been enabled for .jsx files prior then the other grammar tends to take precedence. Either disable the other grammar or ensure my grammar is selected. Look at the bottom right status bar to see the grammar selected. Click it if incorrect.

[2015-09-15 08:41] gandm commented on #69
The read me describes this
Usage

By default the language-babel package will detect file types  .js , .babel , .jsx  and  es6 . Use the standard ATOM interface to enable it for other file types. This provides a grammar that scopes the file in order to colour the text in a meaningful way. If other JavaScript grammars are enabled these may take precedence over language-babel. Look at the bottom righ

[2015-09-15 08:53] seekshiva commented on #69
Thanks!

I'm sorry I missed that.

[2015-09-15 08:53] #69 closed

[2015-09-15 08:54] seekshiva commented on #69
This is awesome. Thanks for creating the project :)

[2015-09-15 11:58] seekshiva opened #70 "Issue with syntax highlighting in ternary operator"
When a ternary operator is not surrounded by parentheses, it screws up the syntax highlighting of the lines below it.

Without parentheses:
![screen shot 2015-09-15 at 5 21 57 pm](https://cloud.githubusercontent.com/assets/484349/9875786/9e000762-5bce-11e5-95b8-aae332e7dc99.png)

With parentheses:
![screen shot 2015-09-15 at 5 24 51 pm](https://cloud.githubusercontent.com/assets/484349/9875805/c70

[2015-09-15 12:48] gandm commented on #70
Yeah it's the biggest problem I faced when implementing facebook's flow typing. ternary operators particularly when inside  let/const/var operators are a real pain. I will take another at this and see what I can do. You don't need to surround the expression in parens but you need terminate ternaries used in expressions with  a semi-colon ;  It's not aways the case, but it's best.

e.g.
[code]

Any

[2015-09-15 15:47] josephdburdick opened #71 "Uncaught RangeError: Maximum call stack size exceeded"
Hi there, I am running this in Atom and I'm getting the following error on every save while working on a React/ES6 JS file.

[code]
The above loops for several hundred more lines.

[2015-09-15 16:15] gandm commented on #71
Are you using Nuclide remote fs?

[2015-09-15 16:17] #70 closed

[2015-09-15 16:36] gandm commented on #71
If you are using Nuclide Remote can you try updating language-babel to V0.15.0.

[2015-09-15 16:37] gandm commented on #66
Published 0.15.0 that should fix the issue.

[2015-09-15 16:57] Daniel15 commented on #66
Yes, I just confirmed that 0.15.0 fixes the issue. Thank you for being so responsive, it's really appreciated :smile:

[2015-09-15 16:57] #66 closed

[2015-09-15 18:30] josephdburdick commented on #71
@gandm I am using Atom but I am not using Nuclide.

[2015-09-15 18:45] gandm commented on #71
Can you try v0.15.0.
 what platform are you running this on? Where is the file system you are using is it local or remote? NSF,etc.

[2015-09-15 22:31] josephdburdick commented on #71
@gandm I'm running this on Atom 1.0.11, OSX 10.10.15, running on a local filesystem that is coordinated by Atom itself.

My atom config.cson:
[code]

[2015-09-15 22:35] gandm commented on #71
Um! I guess you are running the latest version of my package v0.15.0?

[2015-09-16 06:21] gandm commented on #71
I released a version of language-babel yesterday v0.15.0 that stops recursion when an invalid path is presented. This was done to fix an Atom/Nuclide remote filesystem issue but you seem to have an almost identical problem The line numbers for the stack trace above indicates that you are running v0.14.0 - Please update the package.

The new version stops continuous recursion as exhibited above. Ca

[2015-09-16 09:12] MethodGrab opened #73 "Suggestion: Remove `string unquoted` classes from object keys"
Object keys currently have the classes `string unquoted js` which causes them to be displayed in the same style as strings as most syntax themes don't distunguish between `quoted` and `unquoted`.
Is there a reason behind designating object keys as unquoted strings or is this a bug?

Expected:
![image](https://cloud.githubusercontent.com/assets/2421069/9900830/56a47f8c-5c5b-11e5-9f24-dd376f38e51d.p

[2015-09-16 09:31] gandm commented on #73
This grammar was originally a port of babel-sublime, although most of the code has now changed it's a hangover from that.  So below you will see strings with functions/arrows are coded as functions and keys without quotes are, as you say,  string unquoted. I'm a bit loathe to change it as people get irritated by these things. But I have to confess it irritates me the way it is.

![image](https://c

[2015-09-16 10:23] gandm commented on #71
I have uploaded to github a new version that has a console.log debug output that may help me. It is not published so you will have to download it from [here](https://github.com/gandm/language-babel/archive/master.zip) and copy it to your .atom packages directory. Check the Atom Chrome Inspector console.log when you get issues.

[2015-09-16 14:35] josephdburdick commented on #71
@gandm I have copied the contents of that download zip into the corresponding package dir in ~/.apm and so far I have no received any errors. I will reopen if I do, but until then everything looks good. Thanks!

[2015-09-16 14:43] gandm commented on #71
Can you check the console.log output in atom when you get a chance. I suspect you still have an underlying issue but maybe not. If there are three lines of output starting LANGUAGE-BABEL it would be interesting to see them. Thanks.

[2015-09-16 14:55] gandm commented on #17
@ezsper I can't seem to recreate the problem. Do you still have it or are you not using language-babel?

[2015-09-16 16:54] josephdburdick commented on #71
Ah, sure. It looks like this:
[code]

[2015-09-16 17:24] gandm commented on #71
Yes my code just stops the unlimited recursion that is taking place.Not sure what is happening in your case. The project directory returned from atom should be the one containing the source file. But the of the project directory is  /Users/jb and the file is in /Applications/MAMP

Where is the file in relation to the project folder you have open in Atom? Done have any symbolic links?

[2015-09-16 18:13] josephdburdick commented on #71
I have Symbolic links, yes. My MAMP/htdocs folder is symlinked into my personal home directory for easy Finder access.

[2015-09-16 18:20] gandm commented on #71
OK. Atom is doing something strange when giving me back the file name of the file and/or the project holding it. I'll look into this. I guess it isn't a how stopper for you at the moment. I'll reopen this issue to remind me.

[2015-09-16 19:56] josephdburdick commented on #71
Ok, cool.

[2015-09-18 01:22] ezsper commented on #17
Sorry, I really don't know anymore, I was having problems with a couple of other packages with Nuclide and right now, I'm just using es6-javascript package instead and it's working for me. I'm reactivating your package, I'll report if I got any problems with Nuclide.

[2015-09-18 04:19] seekshiva opened #74 "Automatically add a closing tag when opening a new tag"
I've gotten used to the `orktes/atom-react` package, where it automatically adds the closing tag.

Would it be possible to add that to `language-babel` as well?

[2015-09-18 06:14] gandm commented on #74
No - Sorry. It's a reasonable amount of code he uses to do that it which doesn't seem that worthwhile to me. It would also need some additional work as it fails when using flow polymorphs e.g. `function foo<T>() {}` and also creates additional work when changing some code e.g.
[code]
to
[code]

[2015-09-18 06:14] #74 closed

[2015-09-18 07:02] #73 closed

[2015-09-18 13:54] MethodGrab commented on #73
Ah, fair enough then, I'll just overwrite it in my custom `styles.less`. Thanks for the explanation!

[2015-09-19 07:37] gandm opened #75 "Detection of .languagebabel files in symbolically linked directories."
`.languagebabel` files may not be picked up if the file saved is in a symbolic link path as Atom doesn't return the correct project path for a symbolically linked file.

e.g.
[code]

[2015-09-19 07:42] gandm commented on #71
I'm going to close this as it isn't a problem for versions of language-babel above v0.15.0

If you are going to use `.languagebabel` config files outside the path of a sym linked source file then I've opened another issue to track that. See https://github.com/gandm/language-babel/issues/75

Thanks

[2015-09-19 07:42] #71 closed

[2015-09-21 22:56] bolinfest commented on #64
Can we reopen this? It seems like more code is being added to this package to add more support for the transpiler. This is adversely affecting the load time for this package, which is a problem for those of us who just want syntax highlighting.

If things were refactored so that anything the transpilation needs were lazy-loaded, that would also help, but the eager loading is a killer.

[2015-09-22 03:26] AlexKvazos opened #76 "Comment highlighting?"
Looks like /** */ comments are getting the rest of the file highlighted as comment

![](https://i.alexkvazos.me/new_js_-__Users_alexkvazos_Documents_Projects_CubedHost_Prisma-Panel_-_Atom_1BB1016B.png)

[2015-09-22 04:33] gandm commented on #76
Not for me!
![image](https://cloud.githubusercontent.com/assets/2313237/10010971/2d425904-60eb-11e5-97b9-71ea345f2209.png)

Are you using my grammar? Maybe some other text before the /** is causing the issue?
![image](https://cloud.githubusercontent.com/assets/2313237/10010973/3c1458d8-60eb-11e5-9dd6-e3c3b65bcd41.png)

[2015-09-22 07:48] marudor opened #79 "ES7 static properties (Grammar)"
When using several static properties only the first static keyword gets highlighted.
If you add a , after the property it will highlight the next one correctly.
Spec allows (or even requires, i'm unsure) to omit the comma.
![2015-09-22 09_47_13-gantt jsx - c__users_entwickler_source_factro_smb factro client_src - atom](https://cloud.githubusercontent.com/assets/1881725/10013151/118d5168-610f-11e5-

[2015-09-22 10:48] gandm commented on #79
Yes I forgot about this and should have mentioned it in my flowtype limitations issue (yes I know its not a flow typed var). At the moment ES7 class properties should be terminated with a semi-colon or a comma

I'll see what I can do about removing this limitation.

[2015-09-22 11:55] gandm commented on #64
As I mentioned I will split the grammar so I'll reopen this. I don't think the time taken to load the app is much to do with eager vs. lazy loading of dependencies; although that would help. I just made my app have an en empty activate and deactivate and removed all requires from all coffeescripts and it was still slow. Removing the grammar helps a lot - as shown in the second shot!

Provided the

[2015-09-22 15:00] #17 closed

[2015-09-23 15:49] patrys opened #84 "When mixing self-terminating and closing-tag elements, tag pairing breaks"
Consider the following two examples of JSX:

[code]
In this case placing the cursor anywhere between the opening and closing `foo` tag, highlights the correct pair.

[code]
This example has an extra attribute (but adding a single space before the terminator is enough to trigger). Atom will incorrectly pair the self-closing element with with a closing tag of the outer `foo` element.

[2015-09-23 16:34] gandm commented on #84
Yes it's the package https://github.com/atom/bracket-matcher doing this. It thinks it's HTML/XML and it does the matching. Not much I can do about this. Changing the middle foo to another name also fixes the problem but isn't much use to you.

[2015-09-23 16:51] bolinfest commented on #64
https://github.com/gandm/language-babel/pull/85 explains it all.

If you're still serious about publishing a version of this package that is only the grammar, then that's great and I'll drop the issue. If not, I'll create my own internal fork that does this.

[2015-09-23 17:04] patrys commented on #84
Thanks, the relevant bug is atom/bracket-matcher#115.

[2015-09-23 17:04] #84 closed

[2015-09-23 18:18] zertosh commented on #64
Hey @gandm and @bolinfest, I just had a quick chat with @sebmck, and we think there's a place under the babel org for the grammar only. How about we open up babel/babel-atom (a sibling to babel/babel-sublime) to host & promote the grammar (without the transpile stuff) as the official babel one? What do you think @gandm?

[2015-09-23 20:46] gandm commented on #64
@zertosh , @bolinfest , @sebmck I don't have a problem, anyone can take the grammar and do with it whatever they want. If it meets your needs; at least until the AST can be used as grammar; then fine.
You may want to check out subtleGradients grammar, language-javascript-jsx, reading one of his issues he indicates he has a new grammar but hasn't released it yet. It may be better than mine.

Let me

[2015-09-24 20:26] billyjanitsch opened #86 "Grammar issue with boolean properties in jsx"
If the final property of a non-self-closing jsx tag is a boolean property (i.e. one without an explicit value), it is not correctly parsed. For example, `otherProp` should be highlighted as `prop` is:

<img width="257" alt="screen shot 2015-09-24 at 4 23 28 pm" src="https://cloud.githubusercontent.com/assets/1158733/10085720/b6a09316-62d8-11e5-98e7-83bbd78b102f.png">

[2015-09-24 20:35] gandm commented on #86
Ok I'll look at this. If you place a space after otherProp it works so it's probably a bad regex inj the grammar.
![image](https://cloud.githubusercontent.com/assets/2313237/10086028/10dc90de-6304-11e5-972a-15a9537b802c.png)

[2015-09-25 04:29] #86 closed

[2015-09-25 05:17] gandm commented on #76
I'm closing this. Please re-open if you think it is still an issue. Thanks.

[2015-09-25 05:17] #76 closed

[2015-09-25 06:59] billyjanitsch commented on #86
Thanks for the quick fix!

[2015-09-25 15:13] Nonlimit opened #87 "Failed to activate the language-babel package"
**Atom Version**: 1.0.18
**System**: Windows 8.1
**Thrown From**: [language-babel](https://github.com/gandm/language-babel) package, v0.15.3

### Stack Trace

Failed to activate the language-babel package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-09-25 15:33] gandm commented on #87
`path-is-inside` is a node js module dependency so it should download as part of the atom package install.

Is this a new install of language-babel? Did you install via the GUI or CLI?
It should exist in `C:\Users\Администратор\.atom\packages\language-babel\node_modules\path-is-inside` If it doesn't then the package install didn't complete/work.

If the directory exists you can try `cd \Users\Адми

[2015-09-25 15:35] gandm commented on #87
I meant `apm update`!

[2015-09-25 16:12] Nonlimit commented on #87
I uninstall Atom Version: 1.0.18 and install Atom version 1.0.10 and error has been gone

[2015-09-25 20:38] gandm commented on #87
I presume it's an Atom issue of some sort as I'm not dependent on any version of Atom.

[2015-09-25 20:38] #87 closed

[2015-09-30 18:26] #18 closed

[2015-09-30 18:26] #64 closed

[2015-09-30 18:26] #65 closed

[2015-09-30 18:27] gandm commented on #79
Unsure if this is daily fixed. Will review when I have some timer. Closing for now.

[2015-09-30 18:27] #79 closed

[2015-10-05 19:07] woutderooms opened #88 "Highlighting function parameters"
I recently switched from Sublime to Atom, both using the Monokai syntax highlighting. In Sublime function parameters were highlighted in orange, in Atom they are plain white when using Babel ES6 Javascript syntax.

Syntax: Babel ES6 Javascript
language-babel version: 0.15.4
Atom Version: 1.0.19

<img width="469" alt="screenshot 2015-10-05 20 59 32" src="https://cloud.githubusercontent.com/assets/1

[2015-10-05 19:53] gandm commented on #88
I explained this difference in https://github.com/gandm/language-babel/issues/44

[2015-10-06 06:03] glyphing opened #89 "jsx Preview"
Is this package also responsible for the HTML preview (of markdown)?

If yes, the following code is not highlighted correctly (**in the preview**):
[code]

The result is:
![image](https://cloud.githubusercontent.com/assets/14047907/10301253/ad53a006-6c00-11e5-9280-b5792647f4d2.png)

[2015-10-06 06:14] glyphing commented on #89
Sorry, this has nothing to do with your package.

[2015-10-06 06:14] #89 closed

[2015-10-06 10:11] #88 closed

[2015-10-09 10:50] #75 closed

[2015-10-09 21:59] AddictArts commented on #58
Yes I am aware of that babel is the official or standard jsx transform tool. I looked at just removing the grammar, but the save event uses that to fire the transpile. I could change it to the grammar I prefer, but it would be nice to config this. I tried adjusting the theme and you can't control the colors of things like the keys, so I prefer the second attachment to the first and prefer to avoid

[2015-10-10 01:40] steverandy opened #90 "Causes Atom app to hang when opening minified JS file"
Atom app completely hang when opening a large minified JS file such as jquery.min.js.
When language-babel is disabled, editor opens and render the JS file quickly.

Is this a known issue? Is there a workaround or plan to fix it?

[2015-10-10 07:37] gandm commented on #90
Yes looks like an issue that shows itself in minified files. I will investigate.

[2015-10-10 14:15] gandm commented on #90
This should be fixed in 0.15.6.  Please note that the syntax won't be coloured correctly as Atom has a restriction on the number of tokens per line that are allowed. Not much I can do about this.

Let me know if you still have problems.

[2015-10-10 14:15] #90 closed

[2015-10-11 15:05] oeb25 opened #91 "Broken syntax highligting"
I noticed when calling a function from an array, followed by a colon fx. `a ? a[]() : a`, all following syntax is behaving wierd

### Example
![Example](http://i.imgur.com/6Eg2x3z.png)

_Real world example_
[code]

I'm sorry if this is too much of an edge case. Also if this is not an issue with this package I'm sorry too ;)

[2015-10-11 15:46] #91 closed

[2015-10-11 15:47] gandm commented on #91
Thanks for letting me know. Hope it's fixed now.

[2015-10-11 16:04] oeb25 commented on #91
It is, thanks alot :+1:

[2015-10-16 09:19] MethodGrab opened #92 "Syntax Highlighting with Template Strings & Emoji"
`language-babel` 0.15.7.
Template strings containing emoji will break the syntax highlighting. For example:
[code]

![image](https://cloud.githubusercontent.com/assets/2421069/10538236/0ab50c9e-73ef-11e5-8e6f-29af89bb53d6.png)

[2015-10-16 12:49] gandm commented on #92
Seems to work for me albeit the \n in the template isn't highlighted which is a bug. Below is the test using Oceanic Next, which seems to corresponf to your theme.

![image](https://cloud.githubusercontent.com/assets/2313237/10541964/a1705018-740c-11e5-87db-0be5706b9fd2.png)

[2015-10-16 13:08] MethodGrab commented on #92
Correct, it's Oceanic Next.

Hmm, the same thing seems to be happening with the default JavaScript syntax as well so I guess it's not a problem with `language-babel`, sorry about that! It also still happens when I open atom with `atom --safe` so I don't think it's a plugin/theme conflict.

I'm on OSX 10.10.4 with Atom 1.0.19 if that affects anything.

[2015-10-16 13:08] #92 closed

[2015-10-16 13:13] gandm commented on #92
I tested using windows 10 and atom 1.0.19 . Also another person has reported something similar https://github.com/atom/atom/issues/9153

[2015-10-16 13:18] MethodGrab commented on #92
Thanks! I was looking at the issues for atom/language-javascript. It's odd that it highlights correctly for you though!

[2015-10-16 13:20] gandm commented on #92
Also, looking at the first quoted string content the semi colon terminated the statement is white where it should be blue/magenta in Oceanic Next. So it doesn't appear to be a template issue but just an issue with certain emoji's?

[2015-10-16 13:27] MethodGrab commented on #92
Good catch, I hadn't noticed that! It seems to only happen in specific cases.

[2015-10-20 05:17] myknbani commented on #46
There's also a problem with syntax highlighting.  The first line containing `const` is marked with an error.

![upload](https://cloud.githubusercontent.com/assets/5841268/10598605/ecd7d59e-772c-11e5-8695-ade2cad9e366.jpg)

[2015-10-20 06:49] gandm commented on #46
The language-babel syntax seems ok - correct colour etc. The message is from eslint - does it support flow? I didn't think it did?

[2015-10-20 08:03] myknbani commented on #46
oh, I didn't notice the ESLint badge...my bad.  I'll just check my eslint config then.  Thanks :D

[2015-10-25 10:45] oeb25 opened #93 "Broken syntax highlighting"
I'm sorry, but I found another case...

This occurs when using functions in switch statements as conditions.

## Example
![Example](http://i.imgur.com/aLZkQE8.png)

[2015-10-25 12:21] gandm commented on #93
No problem. Should be fixed now.

[2015-10-25 13:47] oeb25 commented on #93
Thanks m8!

[2015-10-25 17:10] oeb25 commented on #93
Instead of createing a new issue, I'm just going to post new errors in the comments!

I really appreciate your effort :) :+1:

## Fat Arrows
![example](http://i.imgur.com/HranO2B.png)

In this example, which was my initial finding and harder to replicate, the following line was also blue.
![example](http://i.imgur.com/4kygjK7.png)

### BONUS!
![bonus example](http://i.imgur.com/yhjKocz.png)

---

[2015-10-25 17:22] gandm commented on #93
I'll take a look.

[2015-10-26 09:12] prog666 opened #94 "works terribly slow"
when I switch to normal javascript syntax highlighting - everything is fine, when use your extension some of cursor movements or code editing take a lot of time to process

[2015-10-26 09:21] gandm commented on #94
You're going to have to give me something to work on! I have no problems on a file with 24,000 lines of js. Do you have a source file that is giving you the problem that I can use?

[2015-10-26 09:23] prog666 commented on #94
After some testing with disabling and enabling the plugin and changing the language of the file it started working fine. I'll test more and give you details.

[2015-10-26 09:32] prog666 commented on #94
Well, it is not every time that this lag happens, I did the same thing (like ctrl + end, ctrl + x, arrow up, ctrl + v) and it lagged only once, but delay was about 5 seconds

[2015-10-26 11:05] gandm commented on #94
It's not a lot to go on. Ideally I need the offending source file, version of Atom, OS version & type + any other packages enabled.

[2015-10-26 11:24] prog666 commented on #94
It happens on all es6 files.
Atom v1.0.19
Arch Linux X86_64 4.2.3-1-ARCH

plugins:
- emmet
- remote-ftp
- atom-jade
- ex-mode
- highlight-selected
- imdone-atom
- jscs-fixer
- language-babel
- language-iced-coffescript
- linter
- linter-jscs
- vim-mode

Actually, i've tried to disable all except language-babel, issue didn't go away.

[2015-10-26 11:41] gandm commented on #94
Um! I don't have Arch Linux but just tried Ubuntu navigating the graphql js files at https://github.com/graphql/graphql-js and didn't see any issues. I don't suppose there are any messages in the console. view->developer->toggle developer tools?

[2015-10-26 11:49] prog666 commented on #94
just this one
/usr/share/atom/resources/app.asar/src/deserializer-manager.js:44 No deserializer found for Object

[2015-10-26 11:58] gandm commented on #94
I don't use the serializer so that could be another package. I just used Ubuntu on the babel source code which is pretty much all ES6 and again I saw no issues. Not sure what to suggest.

[2015-10-26 15:11] steverandy opened #95 "toggle-quotes does not work"
[toggle-quotes](https://github.com/atom/toggle-quotes) package does not work when the file is rendered with Babel ES6 JavaScript. It works well in other language.

[2015-10-26 17:03] gandm commented on #95
I can see the issue but don't have time today to fix.

[2015-10-26 20:16] gandm commented on #95
0.15.9 should fix the problem.

[2015-10-27 01:13] steverandy commented on #95
Yes it does. Thank you very much.

[2015-10-27 01:13] #95 closed

[2015-10-27 09:00] gandm commented on #93
Should be fixed in 0.15.10

[2015-10-28 15:49] gandm commented on #94
I noticed you have a tabs repo in you github account and I found an issue with my package parsing the browser-polyfill.js file. This is corrected in 0.15.12. You may want to try that version and see if has improved things. I'll close this issue. If you have another js file that is giving you problems then re-open this case.

[2015-10-28 15:49] #94 closed

[2015-10-28 15:50] #93 closed

[2015-10-28 15:51] prog666 commented on #94
you're awesome

[2015-10-28 19:15] jryu01 opened #96 "Syntax Highlighting for function parameters"
Function parameters are not highlighted as follows and are indifferent with variables:
![atom](https://cloud.githubusercontent.com/assets/3279838/10799884/8e776bea-7d85-11e5-94b9-34d0cccbc23c.png)

They are properly highlighted in default atom javascript syntax:
![default](https://cloud.githubusercontent.com/assets/3279838/10800059/64cffd10-7d86-11e5-8883-9dbb4a6f59b5.png)

And also, in Sublime Te

[2015-10-28 19:27] gandm commented on #96
This is by design.

[2015-10-28 19:32] jryu01 commented on #96
Is there any specific reason to not highlight the function parameters?
I feel it is much easier to read when they are highlighted. (Maybe because I'm used to the old style)

[2015-10-28 20:10] gandm commented on #96
Really it was just my personal taste.

Other people have noticed this but as I don't use Monokai themes I don't see it. e.g.

I'm using Visual Studio Dark
this is language-babel
![image](https://cloud.githubusercontent.com/assets/2313237/10801383/14ec1f62-7daf-11e5-9c1e-67ed0c988763.png)

and this is language-javascript
![image](https://cloud.githubusercontent.com/assets/2313237/10801373/03ad32ea-

[2015-10-30 10:13] #96 closed

[2015-11-02 10:00] schovi opened #97 "Supporting of new version of .babelrc"
After upgrading to Babel 6  i am getting transpile errors `Uknow options .babelrc.presets`

Using new syntax for presets like this.
[code]

[2015-11-02 10:10] gandm commented on #97
Yeah. I'm looking at supporting Babel 6 soon. In the meantime you'll have to disable the transpiler options in language-babel.

[2015-11-02 13:42] gandm commented on #97
Just published V1.0.0 which supports Babel V6. Please read the README about plugins/presets and let me know how it goes. Thanks.

[2015-11-02 13:56] jtsom opened #98 "Error saving .js file about base.blacklist"
Trying to save a JS file (Ember .js specifically), I'm seeing a Babel V6.0.16 Transpiler Error: "Unknown option: base.blacklist" for every js file save.

[2015-11-02 14:01] gandm commented on #98
I have just released v1.0.0 of language-babel which supports Babel v6. Babel 6 is not compatible with Babel v5. If you still want to use Babel v5 or use the old .babelrc file contents you will need to install an older copy of language-babel. I.e. apm install language-babel@0.15.13

The readme has more info or leave me a comment below. Thanks

[2015-11-02 14:03] jtsom commented on #98
I don't have any specific .babelrc file - I have no idea where that base.blacklist is - there's nothing in this project like that.

[2015-11-02 14:13] gandm commented on #98
Restart Atom and see if that fixes it. If not then I need some background.

Do you only use the grammar and don't want to use the Babel features? If so can you make sure the package settings for `language-babel` have `Transpile On Save` is turned off.

Can you give me your Atom config available from Atom menu's.

[2015-11-02 14:21] jtsom commented on #98
Ah, restarting seems to have fixed things. Have to figure out why my .js files aren't being defaulted to this anymore, but I'll check my settings. (it also looks like it defaulted to not transpile if there's not a .babelrc file, nor display the success message on save) Thanks.

[2015-11-02 14:29] gandm commented on #98
Yeah I changed some of the defaults.

If you are using the babel transpile features in `language-babel` then you may want to look at the readme section. Babel V6 is very different to V5 - with V5 it did quite a lot out-of-the-box whereas V6 needs presets or plugins loaded otherwise it does nothing. See these blogs http://babeljs.io/blog/2015/10/31/setting-up-babel-6/ and http://babeljs.io/blog/201

[2015-11-02 14:29] #98 closed

[2015-11-02 14:40] gandm opened #99 "Support for Babel V6 - Breaking changes......"
`language-babel` >=V1.0.0 now uses Babel V6 as it's transpiler. This is a breaking change as the old `.babelrc` options do not work. With Babel V6 plugins are required to make it work.  Please look at the README.for more info. Also read the latest entries in the [Babel blog](http://babeljs.io/blog/)

If you still want to use the old options for `.babelrc` files you will need to roll back to an old

[2015-11-02 15:47] schovi commented on #97
@gandm Getting `Unknown plguin "syntax-decorators" specified in .../.babel.rc at 0`

But i have plugin installed
[code]

[2015-11-02 15:53] gandm commented on #97
Did you install the plugin in the atom path as per the readme? Just installing it in your package won't work as Babel looks for it in the atom paths.

[2015-11-03 08:31] tofagerl opened #100 "Couldn't find preset "stage-0""
For some reason stage-0 isn't found or loaded. It is correctly installed and listed in .babelrc. The language-babel options haven't been touched, and using babel in gulp works fine.

This has no practical effect for me other than an annoying error popup, but there you go...

[2015-11-03 08:50] gandm commented on #100
Plugins and presets have to be installed in the Atom path. See my readme which explains how to install plugins and presets within Atom. Babel finds the presets by using the process.cwd() which in Atom isn't a project folder but the atom path.  I would like to do this in a more sensible way but i'm waiting to see what the Atom team are going to do with V6 and how they handle packages using the "use

[2015-11-03 09:19] tofagerl commented on #100
But isn't that just the folder I launch Atom from? Because that's where it is installed.

[2015-11-03 09:27] gandm commented on #100
Take a look a language-babel package settings. You will see two fields - plugins and presets - above these is a field description with an indication of the working directory. The preset should  be installed somewhere in that path.

[2015-11-03 09:33] tofagerl commented on #100
Apparently my atom path is '/', which won't work.

Oh well, problem is not in this package - I'll try to change the path. Thanks!

[2015-11-03 09:33] #100 closed

[2015-11-03 09:48] schovi commented on #97
@gandm I am not sure if I understand readme file what exactly have to install and how to write config.

I just have `~/work/amazing-app` where i have `package.json` with installed plugin and configured `.babel.rc`

Thanks for help!

[2015-11-03 10:09] gandm commented on #97
As I mentioned in the readme how this works is in flux so I'm trying to workout the best way of supporting Babel v6. For now you need to install presets and plugins in the working directory for Atom. The working directory is shown in the package settings for language-babel - look at the field description above the plugins option to see this path. Install es2015 somewhere in the path shown.

[2015-11-03 11:43] universalien opened #101 "atom 1.1.0 language-babel install problem"
Atom 1.1.0 on Windows 8.1

Installing “language-babel@1.0.0” failed.Hide output…

events.js:72
        throw er; // Unhandled 'error' event
              ^
Error: EPERM, open 'C:\Users\LOKALH~1\AppData\Local\Temp\apm-install-dir-115103-8976-19r1aoh\node_modules\language-babel\node_modules\babel-core\node_modules\babel-runtime\node_modules\core-js\modules\core.log.js'

Cannot find module 'underscor

[2015-11-03 12:17] gandm commented on #101
Looks llke an apm/atom issue

Sent from my Windows Phone
________________________________
From: universalien<mailto:notifications@github.com>
Sent: ‎03/‎11/‎2015 11:43
To: gandm/language-babel<mailto:language-babel@noreply.github.com>
Subject: [language-babel] atom 1.1.0 language-babel install problem (#101)

Installing “language-babel@1.0.0” failed.Hide output…

events.js:72
        throw er; //

[2015-11-03 14:59] gandm commented on #101
I suggest you try and install the package again. Stop and restart atom and see if that fixes it.

[2015-11-05 12:58] jtsom opened #102 "Failed to activate language-babel package"
(Using Atom 1.2.0-beta1)

When launching, an error is shown:

[Enter steps to reproduce below:]

1. Launch Atom

**Atom Version**: 1.2.0-beta1
**System**: Mac OS X 10.11.1
**Thrown From**: [language-babel](https://github.com/gandm/language-babel) package, v2.0.0

### Stack Trace

Failed to activate the language-babel package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[2015-11-05 13:01] callmewhy commented on #102
same error...babel6

[2015-11-05 13:10] jtsom commented on #102
Looks like he's on it, and a new update is available :)

[2015-11-05 13:22] callmewhy commented on #102
fixed :+1:

[2015-11-05 13:29] gandm commented on #102
Yes my git screwed up!!! 2.0.2 should be OK.

[2015-11-05 13:37] #99 closed

[2015-11-05 13:46] gandm commented on #97
@schovi language-babel V2.0.2 now suppoprt babel V6 in  a more sensible way. It will now allow multiple projects to be edited within Atom, each with differing babel-core and plugin/presetsversions loaded. I'll close this. Reopen if you still have problems. P.S. If you update language-babel ensure you stop and restart Atom. Thx

[2015-11-05 13:46] #97 closed

[2015-11-05 13:46] #102 closed

[2015-11-05 13:47] gandm commented on #101
Closing. Reopen if still and issue.

[2015-11-05 13:47] #101 closed

[2015-11-06 09:58] dshm opened #103 "The latest version of the editor with language-babel compiles es6 in es6 (babel-core installed)"
I did all the instructions ..
node v4.2.2

[2015-11-06 10:48] gandm commented on #103
In Babel V6 the babel-core does nothing - it just takes a js file and pipes it to the output unchanged. Babel now requires plugins and/or presets to do the transformations. Please read http://babeljs.io/blog/2015/10/31/setting-up-babel-6/

[2015-11-06 13:57] gandm commented on #100
@tofagerl I seem you asked about this in the help forum. I have released v2.1.0 that changes how plugins are found in Babel 6. It should solve your problems.

[2015-11-07 10:43] gandm commented on #103
I will close this issue. Please reopen it if you believe there to be a problem in language-babel.

[2015-11-07 10:43] #103 closed

[2015-11-07 13:33] tofagerl commented on #100
And so it did! Thanks :)

I still think there's some error in my configuration since the cwd is wrong, but for now it doesn't matter.

[2015-11-08 14:16] dshm commented on #103
Sorry,I don't understand...
my
[code]
transpile to
[code]
help me please )

[2015-11-08 15:10] gandm commented on #103
You can look at this https://github.com/gandm/example-language-babel it is a simple project that gives some examples of how to use .babelrc and .languagebabel configuration files. As I mentioned Babel does nothing without adding plugins or presets. Presets are groups of plugins. If you look at the example project you will see the package.json has dependencies on babel-core and as well as some pres

[2015-11-09 02:22] panlw opened #104 "Uncaught TypeError: _this.transpiler.stopUnusedTasks is not a function"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.1.0
**System**: Mac OS X 10.11.1
**Thrown From**: [language-babel](https://github.com/gandm/language-babel) package, v2.3.0

### Stack Trace

Uncaught TypeError: _this.transpiler.stopUnusedTasks is not a function

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-11-09 02:22] panlw opened #105 "Uncaught TypeError: _this.transpiler.stopUnusedTasks is not a function"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.1.0
**System**: Mac OS X 10.11.1
**Thrown From**: [language-babel](https://github.com/gandm/language-babel) package, v2.3.0

### Stack Trace

Uncaught TypeError: _this.transpiler.stopUnusedTasks is not a function

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-11-09 06:59] gandm commented on #105
Duplicate of issue #104

[2015-11-09 06:59] #105 closed

[2015-11-09 07:13] gandm commented on #104
I cannot recreate this in either WIndows 10 nor Ubuntu. Can you try re-installing language-babel and then stopping and restarting Atom.Thanks.

[2015-11-09 07:41] gandm commented on #104
Looking at your config.cson above I can see a language-babel settings
"language-babel": {
    "babelMapsAddUrl": false,
    "babelStage": 0,
    "createTargetDirectories": false
  }
These are deprecated and are removed as soon as a new version is activated. This strongly suggests that the package update had not completed when the problem occurred. In general I've found it best to stop and start At

[2015-11-09 08:53] dshm commented on #103
Thanks!

[2015-11-10 09:06] natew opened #106 "Number detection detects whitespace"
![image](https://cloud.githubusercontent.com/assets/12100/11058340/12aa88aa-8747-11e5-9cee-606f0e3d076d.png)

This breaks number-dragging plugins and syntax highlighting depending on the theme:

![image](https://cloud.githubusercontent.com/assets/12100/11058375/437bb5a8-8747-11e5-9871-2b00627ef481.png)

[2015-11-10 10:03] #106 closed

[2015-11-10 10:05] #104 closed

[2015-11-10 14:24] SoonDead opened #107 "Add projectRoot option."
This is my `.babelrc` one folder above the jsx file I'm editing:

    {
        presets: [ "react", "es2015", "stage-2"]
    }

Transpile on save shows the following error:

    Couldn't find preset "react"

    Using babel-core at
    C:\[omitted]\.atom\packages\language-babel\node_modules\babel-core\index.js

Issuing `npm install babel-preset-react` in `C:\[omitted]\.atom\packages\language-babel

[2015-11-10 15:15] gandm commented on #107
If you are using > V2.0.0 of language-babel then you must install `babel-core` and all presets\plugins into the projects root node_modules folder. See https://github.com/gandm/example-language-babel for an example. Also, read the [readme](https://github.com/gandm/language-babel/blob/master/README.md) section **Interface to Babel V6 & V5**

[2015-11-10 17:35] SoonDead commented on #107
the node_modules folder was in a subfolder of the project folder.

closing the project folder and selecting the subfolder as the project folder helped, although I want the whole project to be available on the left tree not just the subfolder.

[2015-11-10 18:36] gandm commented on #107
The problem I have is that I have to make assumptions on where the presets and plugins are located. In your case I would have to explore all sub folders looking for a node modules holding babel-core and in some cases may find more than one, and then which one should I pick and is it actually part of this project? The alternative is to have an additional .languagebabel property to determine where b

[2015-11-10 20:01] ncammarata commented on #106
Thank you @gandm for fixing this so quickly. It was really frustrating with a tool we're building that relies on .numeric and your turnaround was incredibly quick!

[2015-11-11 06:15] SoonDead commented on #107
I'm just throwing random ideas in:

How about language-babel installing presets for it's own use (inside `.atom/packages/language-babel/node_modules`)? Most of the time people will only use presets as babel plugins. Is it possible to only install them if they are required first? Or when someone checks use presets/use preset-react/use preset-stage-2 or similar in the settings. I have no idea about

[2015-11-11 06:49] gandm commented on #107
@SoonDead Thanks for your thoughts they are appreciated.

That's more or less how it used to work in versions earlier than V2. It has some real problems now as Babel V6 has far too many presets for me to keep track of and it's not really how Babel was intended to be used. There will also be many more third party plugins/presets available. Also, babel has always merged any `.babelrc` files found ba

[2015-11-11 07:05] SoonDead commented on #107
That sounds fine.

[2015-11-11 10:21] hugoduraes opened #108 "Error installing/updating to version 2.3.1"
I get the following error while installing/updating language-babel to version 2.3.1:

[code]

[2015-11-11 10:22] wmertens commented on #108
me too :)

[2015-11-11 11:08] wmertens commented on #108
works now, just installed it. Looks like it was babel-core

[2015-11-11 11:13] hugoduraes commented on #108
Working here too! :+1:

[2015-11-11 11:13] #108 closed

[2015-11-11 11:20] gandm commented on #108
Looks like a problem with Babel-core itself not the package. Can't check at the moment

Sent from my Windows Phone
________________________________
From: Hugo Durães<mailto:notifications@github.com>
Sent: ‎11/‎11/‎2015 10:21
To: gandm/language-babel<mailto:language-babel@noreply.github.com>
Subject: [language-babel] Error installing/updating to version 2.3.1 (#108)

I get the following error while

[2015-11-12 13:14] gandm commented on #107
@SoonDead You may want to try 2.4.1 as it now has an additional `.languagebabel` property `{ "projectRoot": true }` that should be positioned where the node_modules ( plugins/presets) exist for a project. See the readme for more info.

[2015-11-12 14:02] #107 closed

[2015-11-12 15:25] dshm opened #109 "Uncaught Error: Cannot find module 'C:\Users\dshm\.atom\packages\language-babel\lib\transformer-t..."
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.1.0
**System**: Unknown Windows Version
**Thrown From**: [language-babel](https://github.com/gandm/language-babel) package, v2.4.1

### Stack Trace

Uncaught Error: Cannot find module 'C:\Users\dshm\.atom\packages\language-babel\lib\transformer-task.coffee'

[code]

### Commands

[code]

### Config

[code]

### Installed Package

[2015-11-12 15:27] dshm commented on #109
fixed after restart atom

[2015-11-12 15:27] #109 closed

[2015-11-13 09:53] SoonDead commented on #107
Works as intended, thank you.

[2015-11-14 10:15] shuhaodo opened #110 "Uncaught Error: channel closed"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.2.0
**System**: Mac OS X 10.10.5
**Thrown From**: [language-babel](https://github.com/gandm/language-babel) package, v2.4.1

### Stack Trace

Uncaught Error: channel closed

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-11-14 10:26] gandm commented on #110
Obviously a child task responsible for transpiling has ended for some reason. Can you give me something that is reproducible?

[2015-11-14 10:35] gandm commented on #110
Also, can you check the console output - I suspect the babel-core transpiler is crashing.

[2015-11-17 13:05] gandm commented on #110
Closing this as I can't reproduce. Reopen if it can be reproduced or you have further information. Thanks

[2015-11-22 20:09] andrejsm opened #111 "TAB as indentation"
I don't see an option in config where I could set tab as an indentation char.
To use Auto Indent I'm forced to spaces which I don't like.

Are there any plans to enable tab option?

[2015-11-22 22:56] gandm commented on #111
Unless I have misunderstood you, this is nothing to do with language-babel.

TAB options e.g. hard/soft number of space characters, etc. are not part of the language grammar itself. They are provided by the core of atom. Atom provides these options in the global [settings](https://cloud.githubusercontent.com/assets/38924/10392228/787d4c9c-6e85-11e5-946a-7ee4b2d4b70f.png) page and some additional o

[2015-11-23 08:19] andrejsm commented on #111
Seems then it's Atom issue. If enabling Auto Indent in this package settings, global settings are ignored.
Will create an issue in Atom repo. Thanks.

[2015-11-23 08:19] #111 closed

[2015-11-25 16:33] sheeley opened #112 "Uncaught TypeError: Invalid Point: (NaN, NaN) - error parsing const vs let"
This coincides with a transpiler error - it barfs on the `name` const for some reason:
[code]

[code]

Swapping to `let` from `const` causes error to not be thrown:
[code]

**Atom Version**: 1.2.4
**System**: Mac OS X 10.11.1
**Thrown From**: [language-babel](https://github.com/gandm/language-babel) package, v2.5.0

### Stack Trace

Uncaught TypeError: Invalid Point: (NaN, NaN)

[code]

### Comman

[2015-11-25 16:44] gandm commented on #112
Thanks for the report, I'll fix this. Because the bad const  babel error doesn't return a line/column number for the error I can't position the cursor in the TextBuffer. Not sure why Babel doesn't return a line/col fort this error but I should have trapped this eventuality.

[2015-11-25 17:07] gandm commented on #112
Fixed in 2.5.1. Thanks.

[2015-11-25 17:07] #112 closed

[2015-11-25 18:32] sheeley commented on #112
@gandm: thanks! that was fast.

[2015-11-26 04:41] sheeley commented on #110
@gandm I'm running into this now, kinda regularly. This is my stack trace:
[code]

How can I get you more useful info?

[2015-11-26 07:48] gandm commented on #110
@sheeley do you get any dev console output? Are you opening or removing project folders?

[2015-11-26 09:23] gandm commented on #110
Seems similar to other issues reported in Atom for background tasks( child_process's )  that go MIA https://github.com/atom/atom/issues/9663

[2015-11-26 10:07] gandm commented on #110
@sheeley I've pushed 2.5.2. It doesn't fix the underlying problem but does restart the background transpiler task if it gets terminated. I issue a console.log message when this happens.

[2015-11-26 15:50] sheeley commented on #110
@gandm: the only console output was the stack trace above, unfortunately - the only action i was taking was saving a file. I'm not sure how I got into that state, but closing/reopening fixed it at least somewhat temporarily.

I updated to the latest version, I'll keep adding info as I have more. Thanks for being so responsive!

[2015-11-27 12:56] gandm commented on #110
@sheeley I'm a little concerned why I can't send to a child_process even though the child_process doesn't have any errors. At the moment I assume the task has been terminated/killed and I restart it but this doesn't feel right! I've just published 2.5.3 that changes the console.log message with the PID of the task that I can't communicate with (assumed not running ) and the PID of the new task. I'

[2015-11-27 16:30] sheeley commented on #110
Since swapping to the beta, I haven't seen any worker restarts - I'll remind myself to take a look in the console, but it appears to be fixed here?

[2015-11-28 09:55] #110 closed

[2015-12-03 14:38] sheeley opened #113 "Uncaught Error: This TextEditor has been destroyed"
[Enter steps to reproduce below:]

1. Create file with these contents:
[code]
2. Save/lint

**Atom Version**: 1.3.0-beta6
**System**: Mac OS X 10.11.1
**Thrown From**: [language-babel](https://github.com/gandm/language-babel) package, v2.5.3

### Stack Trace

Uncaught Error: This TextEditor has been destroyed

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-12-03 14:39] sheeley commented on #113
Actually, the editor destroyed appears to happen when saving any file with syntax errors.

[2015-12-03 15:28] gandm commented on #113
Um. I can't recreate on Windows 10 using Atom 1.2.4. I also tried with Atom 1.3.0-beta6 (yellow atom icon in image below) and it works for me with babel-eslint enabled.
![image](https://cloud.githubusercontent.com/assets/2313237/11564590/e604e3a2-99d1-11e5-9a83-f45029a85a78.png)
I'm just asking the TextEditor to position the cursor at the error position row/col.

Is the file still visible in Atom

[2015-12-03 15:47] gandm commented on #113
Also tried with lastest version of babel-core
![image](https://cloud.githubusercontent.com/assets/2313237/11565292/31fe8242-99d5-11e5-8528-00e9ad7470a3.png)

[2015-12-03 16:28] gandm commented on #113
Can you see if 2.5.4 makes things better. Babel seems to return a row number indexed from 1 but a column number indexed from 0.

[2015-12-04 07:03] sheeley commented on #113
This went away with 2.5.3 - sorry to have wasted your time!

[2015-12-04 08:13] gandm commented on #113
Not a waste of time as 2.5.4 did fix a Babel core indexing issue. I guess this was the root cause of your problem,

[2015-12-10 00:51] michaelprescott opened #114 "Option to specify location of .babelrc"
Not really a bug, but I couldn't find where to make a request.

I'm coding my gulpfile.babel.js in ES2015 and there is conflict between what gulp can handle and what I want language-babel to do.  I want language-babel to compile using the systemjs transform; however, when my .babelrc file specifies any plugins Gulp throws errors.

For example:
`System.register(['gulp', 'gulp-task-listing', 'requir

[2015-12-10 08:25] gandm commented on #114
It works for me. i.,e.

test source file
[code]
.babelrc
[code]
gulpfile.js
[code]
ouput file from gulp & language-babel
[code]

However, I did notice that if I placed babel options in the `gulpfile.js` then the output was a double wrapped `System.register` which I think is a bug in babel-core. It's as though the syntax plugins are run twice!!!

e.g. gulpfile.js
[code]

produces
[code]

[2015-12-10 20:01] stopachka opened #115 "jsx auto-indent"
Hey everyone, big fan of this package.

There is one pet peeve though -- when editing jsx, auto-indent doesn't seem to work. Here's an example ->
![image](https://cloud.githubusercontent.com/assets/984574/11726884/a925226c-9f35-11e5-8b52-5902575d8dea.png)

When pressing enter from `<FooButton`, I expect cursor to align with `className`, but instead, it aligns right under `<`

[2015-12-10 20:18] gandm commented on #115
Sorry, I'm unlikely to support this as it's tricky. It can't be done with Atom's Regex based auto intent feature as I can't make distinctions between flow typing polymorphs, comparisons such as 'if x <variable-name', etc.  It could be done in javascript but it isn't trivial and I don't have time. See https://github.com/gandm/language-babel/pull/33 for more info.

[2015-12-10 20:46] gandm commented on #115
It is mentioned in the above issue but you might want to try using https://atom.io/packages/react

It uses it's own jsx grammar in conjunction with the atom provided  language-javascript. People seem to like it.

[2015-12-11 00:55] sheeley commented on #113
Seeing this again

[Enter steps to reproduce below:]

Using code like this (obviously wrong, but that shouldn't crash the editor, should it?):
[code]

**Atom Version**: 1.3.0-beta6
**System**: Mac OS X 10.11.1
**Thrown From**: [language-babel](https://github.com/gandm/language-babel) package, v2.6.0

### Stack Trace

Uncaught Error: This TextEditor has been destroyed

[code]

### Commands

[code]

[2015-12-11 03:31] gandm commented on #113
Well the above code works for me. Seems like an Atom issue that raises it's head occasionally. See https://github.com/atom/atom/issues/4562

Is it reproducible? Any console messages?

[2015-12-11 09:08] #115 closed

[2015-12-11 09:09] gandm commented on #114
Reopen if you still believe this to be an issue.

[2015-12-11 09:09] #114 closed

[2015-12-11 09:26] gandm commented on #113
OK. I've managed to recreate this but only when a split screen on the file in question. Destroying one of the file's tab sand saving on the remaining tab gets the error. I'll look at fixing this soon,

Would this describe your problem?

[2015-12-12 21:29] sheeley commented on #113
Ah, interesting - that may have been the cause. It's no longer happening for me. I don't believe I saw anything in the console other than the trace info I included above - if it happens again, I'll try to actually track down and solve. :)

[2015-12-16 15:33] gandm commented on #113
@sheeley v2.6.1. should fix the TextEditor has been destroyed issues.

[2015-12-16 15:33] #113 closed

[2015-12-22 21:12] nathanborror opened #116 "Closing JSX tags rendering incorrectly"
Closing JSX tags are all rendering as </> with the tag name showing up in the right margin:
![Image](https://s3.amazonaws.com/f.cl.ly/items/0F3G1y3M0F2b0d1y2P2H/Screen%20Shot%202015-12-22%20at%201.09.32%20PM.png?v=c9ad2097)

[2015-12-22 21:25] gandm commented on #116
Works for me
![image](https://cloud.githubusercontent.com/assets/2313237/11966239/7b80abda-a8f2-11e5-9a29-08e918b5d70b.png)

[2015-12-22 21:28] nathanborror commented on #116
I'm running Atom 1.3.2 with the following packages:

[code]

[2015-12-22 21:29] nathanborror commented on #116
Disabling all packages but language-babel doesn't seem to resolve the problem either.

[2015-12-22 21:37] gandm commented on #116
Weird. 1.3.2 here as well.

Does `Babel ES6 JavaScript` display on the bottom status bar?
Any console messages?
Have you restarted Atom?

[2015-12-22 22:02] nathanborror commented on #116
Looks like styles from `/Applications/Atom.app/Contents/Resources/app.asar/static/bootstrap.css` are leaking onto the closing tags `close` class.
![Example](https://s3.amazonaws.com/f.cl.ly/items/101R3Z1M2U3P1w391T2J/Screen%20Shot%202015-12-22%20at%201.59.19%20PM.png?v=6beeac84)

[2015-12-22 22:14] gandm commented on #116
What UI & syntax themes are you using. I thought you were using One Dark as in screen image above and the Styles below. Not sure where bootstrap.css comes into it?
![image](https://cloud.githubusercontent.com/assets/2313237/11967206/d9850a54-a8f8-11e5-91c0-fc83de1f2d9f.png)

[2015-12-22 22:21] nathanborror commented on #116
I'm using One Dark. It's not clear to me either but it's showing up above atom.less:
![](https://s3.amazonaws.com/f.cl.ly/items/3W132W012J2r3Q381G0n/Screen%20Shot%202015-12-22%20at%202.19.54%20PM.png?v=67ef4fa2)

[2015-12-22 22:24] gandm commented on #116
Oh I think you have the shadow DOM option in Atom's settings turned off like this
![image](https://cloud.githubusercontent.com/assets/2313237/11967427/9ccddfc6-a8fa-11e5-9666-e975f7e0e756.png)
This gives your problem.
It is not recommended turning it off as CSS leaks into the text windows.

[2015-12-22 22:26] nathanborror commented on #116
:+1: — that fixed it. Thanks for your help!

[2015-12-22 22:26] #116 closed

[2015-12-22 22:28] gandm commented on #116
No problem. Glad it's fixed.

[2015-12-28 08:49] ramanpreetnara opened #117 "JavaScript function parameters missing .parameter class."
The `span` tags generated for parameters in JavaScript functions are missing the `.parameter` class. Just curious if this was by design, or a bug. (Some syntax themes (like [monokai](https://github.com/kevinsawicki/monokai/blob/master/index.less#L174-L177)) depend on that class to uniquely colour function parameters).

### Example
[code]

#### language-babel DOM:
[code]

#### language-javascript D

[2015-12-28 10:10] gandm commented on #117
Maybe unhelpful, but it is by design. It is less code and and easier to cope with the typed flow arguments.

[2015-12-28 10:10] #117 closed

[2015-12-28 18:22] dsifford opened #118 "Spelling error in stylesheet (non-critical)"
The class `primitive` is spelled `primitve` on the stylesheet.

Not sure if this is intentional or not, but it did trip me up for a few minutes until I noticed it.

![image](https://cloud.githubusercontent.com/assets/5240018/12023282/f1376f9a-ad65-11e5-9a1a-3ab31e7c0313.png)

[2015-12-28 18:31] gandm commented on #118
Thanks. Will fix.

[2015-12-28 19:29] ramanpreetnara commented on #117
Okay, cool. Thanks for the quick reply!

[2015-12-29 12:59] jasuperior commented on #103
I know this issue is marked as closed, but i have followed your instruction, and it still seems to transpile to the same code i input... i have babel install globally and locally in my project, with the plugins, and i still cannot get it to work. please help.

[2015-12-29 13:24] gandm commented on #103
@jasuperior what does you .babelrc file look like? Have you downloaded the examples project mentioned in my post above?

[2015-12-30 02:39] jasuperior commented on #103
Hey, sorry, I've fixed things.... I was confused as to wear to save the .languagebabel and the .babelrc file.  at first it was ignoring them, but it was a typo. my mistake

[2015-12-30 07:18] gandm commented on #103
@jasuperior No problem, glad you fixed it. `.babelrc` and `.languagebabel` files are read and merged recursively starting at the directory holding the source file back to the project root directory or, in the case of  `.babelrc`  back to the filesystem's root.

[2015-12-30 07:47] #118 closed

[2016-01-06 09:17] nfour opened #119 "Commas aren't stylable/tokenized"
Currently language-babel is lacking over the base javascript language in at least one way;

[code]

Commas aren't stylable currently. I'd be happy to contribute this fix.

Tried to contrib function-calls fixes to [langauge-javascript](https://github.com/atom/language-javascript/pull/295) but am realizing language-babel is more feature rich.

Thanks.

[2016-01-06 11:58] gandm commented on #119
Thanks for the report this should be fixed. Your PR would have worked if you had uses "\\s*," rathjer than ","  in the delimiter regex. But the PR would have stopped the facebook flow syntax parsing.

[2016-01-06 11:58] #119 closed

[2016-01-06 12:27] nfour commented on #119
Ah I wasn't sure whether the whitespace capture was significant, thanks.

[2016-01-09 16:30] gandm commented on #115
@stopachka fyi I'm near to completing jsx auto indent and automatic reformatting of jsx blocks according to .eslintrc rules in a project. Not sure when I'll release it but should be sometime next week.

[2016-01-09 17:12] stopachka commented on #115
Nice! Looking forward to it Graham :)

[2016-01-10 04:32] jefedev opened #122 "JSX syntax of the form <foo:bar></foo:bar> breaks syntax coloring"
We've using this form of jsx for a while and it looks like the recent release is breaking the syntax coloring. Please refer the attached image for more information.

<img width="1398" alt="jsx syntax color broken" src="https://cloud.githubusercontent.com/assets/9508968/12219985/b481afa8-b70f-11e5-82b3-26a3e0085752.png">

[2016-01-10 06:47] gandm commented on #122
I think I removed namespaced components in version 0.3.3 which is pretty old. As far as I could tell they were in the JSX specification but not part of the React spec. I can put them back. As a matter of interest what are you using them for?

[2016-01-10 07:09] gandm commented on #122
Babel complains about namespaces so I guess you are using another type of DOM system?
![image](https://cloud.githubusercontent.com/assets/2313237/12220408/0004602a-b769-11e5-8159-97915a2e41bf.png)

[2016-01-11 09:20] nfour opened #123 "`new` keyword broken highlighting"
[code]
The above misses tokens for the `.` and `this` keyword due to the `new` keyword being used.

[code]
The `some` above is given `entity.name.type.new`.

I'd recommend removing new keyword entity scoping in this case or fixing it so that it only ever tries to do it to variables starting with capital letters or something.

[2016-01-11 23:29] gandm commented on #123
@nfour I'll take a look asap.

[2016-01-12 13:58] kumarharsh opened #124 "Is there a way to "Preview" the generated javascript?"
Hi,

Forgive me if this functionality is already there. I'm new to Atom, and coming from SublimeText, I had a nifty little command called `babel_transform` which I had bound to `ctrl+b`. Whenever I was writing es6 or JSX code, and wanted to see what that code compiled down to, I'd just press the shortcut and Sublime would show me the compiled file (as a temp file) in a new tab. This is super-usefu

[2016-01-12 20:18] jefedev commented on #122
I guess we are using some kind of custom transform (to convert <foo:param>) before applying babel transforms and that is probably why babel doesn't complain. I guess it doesn't make much sense to support this form when babel doesn't it support it?

[2016-01-13 08:03] gandm commented on #123
For my info - some forms of new
[code]

[2016-01-13 10:38] nfour opened #125 "Object definition `:` seperator highlight bug"
In this example
[code]
String and symbol keys cause the `:` colon to become untokenized.

[2016-01-14 17:02] #123 closed

[2016-01-14 17:03] gandm commented on #123
@nfour I've disabled it for now. I may review some other time.

[2016-01-14 17:04] gandm commented on #125
@nfour Let me know if this fixes it for you.

[2016-01-14 17:06] gandm commented on #122
Thinking about this I've decided not to include this in the grammar as it isn't Babel nor a React standard. Sorry if this is an issue for you.

[2016-01-14 17:06] #122 closed

[2016-01-14 22:13] samdj commented on #125
@gandm On my work acc, can confirm it's all good.

[2016-01-14 22:19] #125 closed

[2016-01-15 11:56] gandm commented on #9
![autoclose](https://cloud.githubusercontent.com/assets/2313237/12352348/218348b6-bb7d-11e5-9245-bd0d1467d71d.gif)
![reformat](https://cloud.githubusercontent.com/assets/2313237/12352494/63f034b0-bb7e-11e5-8317-84b1db470148.gif)

[2016-01-15 12:59] gandm commented on #115
@stopachka Released 2.8.0 that starts to do this. See the readme for some basic info. Any feedback welcome.

[2016-01-15 13:16] rasheedhamdawi opened #126 "Uncaught TypeError: Cannot read property 'match' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.4.0
**System**: Mac OS X 10.11.2
**Thrown From**: [language-babel](https://github.com/gandm/language-babel) package, v2.8.0

### Stack Trace

Uncaught TypeError: Cannot read property 'match' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-01-15 15:27] gandm commented on #126
I can't recreate this. Is it reproducible? I've just published 2.8.1 that initializes some variables prior to use which may help.

[2016-01-15 16:04] stopachka commented on #115
nice! great push Graham : )

[2016-01-15 16:31] tschaub commented on #126
I'm using `language-babel@2.8.1` and seeing the same.  This is fairly severe as it keeps the editor from working (for example, I cannot type a function body in `function() {}`).

[2016-01-15 16:32] mpaarating commented on #126
I've had the same issue:

1. npm install
2. type in a file `import Alt from 'alt';`

**Atom Version**: 1.3.3
**System**: Microsoft Windows 10 Pro
**Thrown From**: [language-babel](https://github.com/gandm/language-babel) package, v2.8.1

### Stack Trace

Uncaught TypeError: Cannot read property 'match' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-01-15 16:38] gandm commented on #126
Can you try 2.8.2? If it doesn't work or if it works let me know. You can unblock by setting the package setting to disable format JSX.

[2016-01-15 16:42] gandm commented on #126
@mpaarating Ah!! I thinkl the package React also monkey patches the Atom code to do auto indentation - as do I. Can you disable that and see if it helps?

[2016-01-15 16:46] mpaarating commented on #126
@gandm Turning off Auto Indentation fixed it!

[2016-01-15 16:48] gandm commented on #126
@mpaarating turning it off in language-babel or react fixed it?

[2016-01-15 16:49] mpaarating commented on #126
@gandm Turning it off in react, I didn't try language-babel. I did upgrade to 2.8.2 as well though. (Although the upgrade alone didn't fix the issue).

[2016-01-15 16:56] skevy opened #127 "Uncaught ReferenceError: esLintrcFile is not defined"
When I open my project in Atom, I get this error:

**Atom Version**: 1.4.0
**System**: Mac OS X 10.11.2
**Thrown From**: [language-babel](https://github.com/gandm/language-babel) package, v2.8.2

### Stack Trace

Uncaught ReferenceError: esLintrcFile is not defined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-01-15 17:04] hidace commented on #126
Yes, turning off auto-indent in the React package solved this for me too.

[2016-01-15 17:11] gandm commented on #127
OK the line doing the stack trace was trying to tell you that your .eslintrc file has a JSON error. I'll fix this now and roll out 2.8.3

[2016-01-15 17:12] skevy commented on #127
Ah. Gotcha. Sorry! Should have taken a closer look before reporting.

Thanks for being so diligent!

[2016-01-15 17:13] skevy commented on #127
Yah, it turns out I'm using JSON5 in my eslintrc file, with comments, etc. That's why that's happening.

[2016-01-15 17:17] #127 closed

[2016-01-15 17:20] skevy commented on #127
Is there anyway you could support JSON5 here? Since eslint supports it, it would probably be good if this plugin supported it as well.

I'm busy on a project today, but if you'd like a PR for this I'd be happy to take care of it.

[2016-01-15 17:24] gandm opened #128 "Please Note this packages JSX Indent/Formatting feature is incompatible with the package 'react' auto indenting."
If you need both packages turn off the Auto Indent feature in react or  Format JSX isetting in language-babel.

Reason: Both packages monkey patch the atom code to do indenting. Why monkey patch? Well.... to do sensible indenting....

[2016-01-15 17:27] gandm commented on #127
Yes, it makes sense. I might also read the package.json as well. I'll do it over the weekend sometime. Thanks

[2016-01-15 18:07] dsifford commented on #126
Tried disabling autoindent in the react package as well as JSX formatting in this package. Still getting errors preventing me from writing.

To your knowledge, is the nuclide package also conflicting with the auto-indentation of this package?

[2016-01-15 18:20] gandm commented on #126
@dsifford I don't use the nuclide package so I can't say. What are the errors?

[2016-01-15 18:22] hidace commented on #126
@dsifford I just installed the latest nuclide package (0.111.0) yesterday. I only had to turn off auto-indent  in the React package, didn't touch the nuclide settings.

[2016-01-15 18:52] dsifford commented on #126
@hidace hmmm.. strange. Thanks for the info nevertheless!

[2016-01-15 18:59] hidace commented on #126
@dsifford Yeah. Actually, come to think of it - when I first had the error, I went and un-installed language-babel. There was a setting in the nuclide package that asked if I wanted to install recommended packages on startup. I checked it and re-started atom. Upon start-up, it installed a few more packages including the latest language-babel. After this is when I went into the React package an had

[2016-01-15 19:40] Syynth commented on #126
I'm also having this issue on 2.8.3 (Atom 1.4.0, Windows 10) with every non-core plugin disabled, even when disabling auto-indent in the `language-babel` package. This does allow me to create empty newlines, but trying to enter in `function() {|}` throws.

[2016-01-15 19:45] dsifford commented on #126
@Syynth I did a complete uninstall and reinstall of `language-babel` per @hidace 's recommendation and so far it seems to be working? Might want to give that a shot.

[2016-01-15 19:47] Syynth commented on #126
Unfortunately that didn't help either, but I uninstalled and ran `apm install language-babel@2.7.4` to downgrade and things seem to be working again.

[2016-01-15 19:51] n-j-m commented on #126
I uninstalled, reinstalled, and disabled all other non-core plugins. The only thing that fixed the issue for me was turning off **Auto Indent** under **Babel ES6 JavaScript Grammar**.

![image](https://cloud.githubusercontent.com/assets/411630/12363556/fb4ef49e-bb8e-11e5-81fc-77d42afbc10b.png)

[2016-01-15 20:08] rasheedhamdawi commented on #126
@gandm Thanks, I just updated to 2.8.3, It's work fine now

[2016-01-15 20:28] gandm commented on #126
To those of you with problems still, if you turn off the 'format jsx' option in the package settings and restart then that will disable the auto indent/formatting of jsx. No need to turn off auto-indenting as this won't stop the monkey patch.

I still have no idea why some people have this issue. The code only gets activated when a meta.tag.jsx scope is found in a language-babel file. Other code,

[2016-01-15 22:59] 2c2c opened #129 "error reading .eslintrc"
http://someimage.com/SQQl6m9

began with this update

[2016-01-15 23:11] gandm commented on #129
That message is generated by parsing the file using https://github.com/gandm/language-babel/blob/master/lib/auto-indent.coffee#L302 not sure why it can't be parsed as JSON. You have a trailing , on line 24 of your .eslintrc file.

[2016-01-15 23:17] gandm commented on #129
P.S. I will be either implementing json5 or use the cli engine from eslint to parse these files. Both will allow comments and trailing ,

Most probably I'll do that this weekend.

[2016-01-15 23:21] 2c2c commented on #129
the goofy syntax highlighting I saw when I opened the file threw me off from thinking that was issue

whoops

[2016-01-15 23:26] gandm commented on #129
No problem. I'll close this issue for now. Thx.

[2016-01-15 23:26] #129 closed

[2016-01-16 08:45] gandm commented on #127
@skevy JSON5 now supported for `.eslintrc`. I may revisit this sometime and add `.eslintrc` `.eslintrc.json` and .`eslintrc.js` file types & directory recursion.

[2016-01-16 09:46] gandm commented on #129
Fyi 2.9.0 now supports json5 so trailing commas should be acceptable.

[2016-01-16 12:57] #126 closed

[2016-01-16 15:33] jasonblanchard opened #130 "Uncaught TypeError: Cannot read property 'react/jsx-indent' of undefined"
I was getting this message when opening up atom. After uninstalling the `language-babel` package, I can reproduce it following these steps:

1. Open Atom (no error)
2. Open Settings and got to Install tab
3. Search for `language-babel`
4. Click Install

This message pops up when it finishes installing.

**Atom Version**: 1.4.0
**System**: Mac OS X 10.11.2
**Thrown From**: [language-babel](https://

[2016-01-16 16:04] gandm commented on #130
Just repeated your steps but I don't get the error. The error line seems to come from the line that starts to read properties in your .eslintrc file in the root of a project folder. Can you paste a copy of it here?

[2016-01-16 16:32] gandm commented on #130
Just pushed 2.9.2 which allows .eslintrc files to have a missing rules section/property. I think this may your problem?

[2016-01-16 20:12] jasonblanchard commented on #130
Cool, I think that did it.

Thanks!

[2016-01-16 20:12] #130 closed

[2016-01-17 03:36] IanVS commented on #126
I had this issue in 2.8.2 and upgrading to latest (2.9.2) fixed it.  Thanks!

[2016-01-18 16:55] dubert opened #131 "Support commenting inside JSX"
It would be incredible if block commenting inside a render function added the curly brackets. Like so:

[code]

I'm looking into implementing it myself. If I can figure it out, I can submit a PR.

[2016-01-18 18:20] gandm commented on #131
I'll take a look.

[2016-01-18 18:44] dubert commented on #131
I just realized that I use the `block-comment` package, and Atom doesn't do them by default.

[2016-01-18 22:04] tschaub opened #132 "Disable or configure auto-indent on JSX only"
I've just upgraded to 2.9.3 and am not sure if I am seeing expected auto-indent behavior with JSX (or a bug).

![auto-indent](https://cloud.githubusercontent.com/assets/41094/12403851/1d671d74-bdf4-11e5-91c2-f333e112782f.gif)

Given this code:
[code]

When I add a newline before the closing `</div>`, one level of indentation is removed from the line with the `twoProp` attribute.

I don't have any

[2016-01-18 22:18] gandm commented on #132
No it's a bug! You can disable the indenting either globally via the package `Format JSX` option or by a toggle command via the command pallete  and search for Language Babel.

[2016-01-18 22:38] #132 closed

[2016-01-18 22:39] gandm commented on #132
Does 2.9.4 fix it for you?

[2016-01-18 22:52] gandm opened #133 "Embeded JSX in body expression gives indent lint error"
The code below gives alignment error for the traling })}
[code]

[2016-01-18 22:58] tschaub commented on #132
Thanks @gandm!  It looks like 2.9.4 fixes the issue.

This is better for a separate issue, but I'm guessing that this might not play well with people who use the [`jsx-indent-props` rule](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-indent-props.md), where JSX prop indentation might differ from the ES indentation.

[2016-01-18 23:10] gandm commented on #132
@tschaub The readme explains all but it works with the following rules and their various options. The only one I don't re-format is the Closing bracket variations that would mean inserting or removing a  a new line. I could do it, but it may be too aggressive. i.e. I only indent at the moment. Also, I don't use the normal indent rule at all.
[code]

[2016-01-18 23:51] gandm commented on #131
Does this mean you don't want my package to do this?

[2016-01-19 14:19] dubert commented on #131
Well, not everyone uses block-comment, so it would be awesome if this package included it. But if you don't think others would use it, you can close the issue.

[2016-01-20 00:46] tschaub commented on #132
Thanks for the additional detail @gandm.  I'll give the latest a try with the `jsx-indent-props` rule.

[2016-01-20 06:46] #131 closed

[2016-01-20 06:52] gandm commented on #131
Pushed 2.10.0 Does it work for you?
![gif](https://cloud.githubusercontent.com/assets/2313237/12441752/4d672be6-bf42-11e5-8e20-33a96a81db66.gif)

[2016-01-20 10:03] madjam002 opened #135 "Error reading .eslintrc - Syntax error"
Starting with a recent update, I get this:
![Imgur](http://i.imgur.com/a9N0JHw.png)

I've seen recently that there have been some commits relating to JSON parsing of `.eslintrc`, is this error because I have a YAML `.eslintrc`?

Snippet:
[code]

[2016-01-20 10:56] gandm commented on #135
Yes. I assume it is Json. I need to do some more work in parsing in general to cope directory recursion, yaml,  js files and extends.  I can put yaml parsing in quickly. In the meantime, you can either turn off the package settings or command toggle auto indenting of jsx or rename it to .yaml and add jsx indent rules as json.

[2016-01-20 11:04] subblue commented on #135
I was also getting this problem, good to know the source of it now.
For the moment I just converted the YAML `.eslintrc` files in various projects back to JSON.

[2016-01-20 11:18] madjam002 commented on #135
@gandm Okay great, thanks for your help.
For now I've just downgraded the plugin to 2.5.4 (picked a random old version) and it works fine.

[2016-01-20 11:47] #135 closed

[2016-01-20 12:03] gandm commented on #135
Whoops. Removed JSON5 in error Just pushed 2.11.1to fix that!
More haste less speed.

[2016-01-20 13:55] dubert commented on #123
Can you tell me the desired behavior? I would be interested in tackling this issue.

[2016-01-20 14:01] dubert commented on #131
Wow, that's incredible. I just tested it and it works beautifully.

This is just a fantastic addition. :smile_cat:

[2016-01-20 15:38] gandm commented on #123
@dubert there isn't any real desired behaviour, or at least I haven't thought it through. I originally ported the grammar from  Babel-sublime but I've changed big sections of it and added lots new - jsx, flow, etc. This is a hangover from the original code that doesn't seem to do much. It needs to be reviewed at some stage but grammar isn't a fun thing to look at or do 😢

[2016-01-21 05:07] ryancole opened #136 "JSX inside of a `return ( ... )` causes the trailing `)` to indent"
I don't believe that this used to happen in prior versions, but I just started noticing it within the past few days. Whenever typing a block of code such as ...

[code]

and then coming back to put in some JSX, to make it like ...

[code]

causes the trailing `)` to end up indenting and looking like ...

[code]

Not sure if this is related to #128 or not? I don't have a `react` package installed,

[2016-01-21 06:40] #136 closed

[2016-01-21 06:45] gandm commented on #136
@ryancole Should be OK now.

[2016-01-21 19:11] gandm commented on #9
https://cloud.githubusercontent.com/assets/2313237/12490818/7535fc50-c06f-11e5-8752-ec0878c5205c.gif

[2016-01-21 19:13] gandm commented on #124
Just added the preview option in 2.12.0. language-babel acts as a  provider to another package - [source-preview](https://atom.io/packages/source-preview) which must be v4.0 or greater.  [source-preview](https://atom.io/packages/source-preview) provides a command `Source Preview Toggle` 0On on the first toggle it activates the program and on subsequent toggles displays a preview window for the cur

[2016-01-21 19:58] ryancole commented on #136
Yup, works great. Thanks!

[2016-01-21 20:22] srmcconomy opened #137 "Syntax colouring error with division"
literal numbers are not coloured properly when they directly follow a slash.
eg:
var i = 1/2;
(1 is coloured as a literal, 2 is coloured the same as /)

var i = 1/234
(1 is coloured as a literal, 2 is coloured the same as /, 3 and 4 are coloured like variable names)

expected: all of the above numbers are coloured as literals

[2016-01-21 22:36] #137 closed

[2016-01-22 02:47] samdj opened #138 "Class properties semicolon"
See: https://github.com/feross/standard/issues/372

Seems that semicolons in this context, at the end of class properties, are spec required but aren't being highlighted as terminators:
[code]

[2016-01-22 18:14] #138 closed

[2016-01-22 21:58] ssorallen commented on #122
This is namespaced JSX, and it is part of the JSX Specification draft: https://facebook.github.io/jsx/

[code]

Would you accept a PR to help implement this?

[2016-01-22 22:13] ssorallen commented on #122
As @sebmarkbage [mentioned](https://github.com/facebook/jsx/issues/13#issuecomment-54373080), we use the syntax for our internationalization library and use a transform other than React's bundled JSXTransformer to support the colon-separated namespaces.

Nuclide currently [lists 'language-babel'](https://github.com/facebook/nuclide/blob/master/package.json#L113) in its package-deps to give Nuclide

[2016-01-22 22:28] gandm commented on #122
Ok, I'll put the namespace option back in to the grammar. It also appears in other places but I will do it sometime this weekend.

[2016-01-22 23:08] ssorallen commented on #122
@gandm Great, thanks a lot. Getting syntax highlighting back will make a lot of developers here happy.

[2016-01-23 08:24] #124 closed

[2016-01-24 11:31] kevinsimper commented on #133
![language-babel](https://cloud.githubusercontent.com/assets/1126497/12535964/671f3b80-c296-11e5-8a77-66da413edc41.gif)

I have the same problem

[2016-01-24 12:08] gandm commented on #133
@kevinsimper Until I can get around to fixing this you may have to disable auto-indentation either in the package settings ( globaly for all docs ) or toggle it on/off for the document using `language-babel:toggle-auto-indent-jsx`

[2016-01-24 16:52] brandondurham opened #139 "Reformatting code incorrectly, and often."
This package recently started reformatting my code incorrectly while I type, and often. I’ve gone through and disabled every package one-at-a-time to track it down to this one.

Here is a short video illustrating the issue: http://cloud.smallparade.com/eu0y

Typically only happens when hitting “Enter” in the file. Suggestions on ways to work around this?

[2016-01-24 17:09] gandm commented on #139
Language-babel attempts to indent jsx according to eslint rules. It is still a work in progress but is described [here](https://github.com/gandm/language-babel/blob/master/README.md#automatic-indenting-of-jsx). You can turn off this either using a command toggle or by setting the auto indent jsx option in the package settings and reopening any files.

[2016-01-24 17:20] brandondurham commented on #139
Oh, thank you, Graham. Appreciate the super fast response. Disabled!

[2016-01-24 17:26] #139 closed

[2016-01-27 02:10] Nivl opened #140 "Indent to previous dot"
Hey,

I think it would be useful to allow the code to be indented to the previous dot. So instead of having this:

    MyObject.doSomethin()
    .doSomethingElse()
    .again();

We can have this:

    MyObject.doSomethin()
            .doSomethingElse()
            .again();

What do you guys think about it?

[2016-01-27 07:53] gandm commented on #140
At the moment the only specialised on-the-fly indenting I'm doing is React JSX. I have purposely avoided using any form of parser that generates an AST to speed this up. In order to do what you want I would almost certainly need to use an AST generator such as Babel, which I believe would make it inappropriate for doing indenting on-the-fly. It may be better to get the EsLint team to add a rule fo

[2016-01-28 15:18] #140 closed

[2016-01-29 12:02] gandm commented on #128
No longer monkey patching.

[2016-01-29 12:02] #128 closed

[2016-01-29 12:04] gandm commented on #133
@kevinsimper  This is now fixed in 2.15.0  If you want to try it enable auto Indenting  in the package settings. The first tag must be aligned manually, the remaining JSX should indent accordingly.

[2016-01-29 12:04] #133 closed

[2016-01-30 12:40] kevinsimper commented on #133
:+1:

[2016-01-30 12:56] danpantry opened #141 "JSX closing tags appear on the other side of the window."
[Demo](https://i.imgur.com/Fde66q6.png). See how the closing tag for form is appearing on the right side of the Atom window. This occurs with every tag.

Atom version is 1.2.4, and I'm using the latest version of `language-babel` on apm, which I believe is 2.15.0.

[2016-01-30 13:06] gandm commented on #141
It looks as though you have `Use Shadow DOM` turned off in the main Atom settings. THis is recommended to be on as styles from the parent CSS leaks into the themes for the editor page.
![image](https://cloud.githubusercontent.com/assets/2313237/12695849/303fecd4-c752-11e5-9d2d-bac679b3ac3c.png)

[2016-01-31 07:00] gandm commented on #9
![indent](https://cloud.githubusercontent.com/assets/2313237/12700780/4074271e-c7e8-11e5-91d7-774f7808bc1d.gif)

[2016-01-31 14:20] danpantry commented on #141
Thanks. I'll give it a shot when I am back on my Linux partition. I was having issues before due to nvidia drivers, but I've since fixed those issues, so I might be able to switch this back on.

[2016-02-01 15:31] dubert commented on #123
This is what I have so far:

Current:
![screen shot 2016-02-01 at 10 30 40](https://cloud.githubusercontent.com/assets/1843672/12721669/e7ed2202-c8ce-11e5-9973-a06572d0fd72.png)

My version:
![screen shot 2016-02-01 at 10 30 09](https://cloud.githubusercontent.com/assets/1843672/12721677/f14e48d0-c8ce-11e5-91ef-2f42d559898e.png)

[2016-02-01 16:31] gandm commented on #123
@dubert looks good but I don't know what the colours mean in this theme. Why green 'Thing()' and 'a()' but purple 'x()' and underscore B but not A or Thing?  Will you be doing a PR?

[2016-02-02 20:22] danpantry commented on #141
Thanks, this solved the issue.

[2016-02-02 20:22] #141 closed

[2016-02-05 07:27] ilkka opened #142 "Failed to load the language-babel package"
Steps to reproduce:

1. Open Atom
2. Boom

**Atom Version**: 1.4.3
**System**: Mac OS X 10.11.3
**Thrown From**: [language-babel](https://github.com/gandm/language-babel) package, v2.15.3

### Stack Trace

Failed to load the language-babel package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-02-05 09:26] gandm commented on #142
Seems like an issue with the Atom installer. fuzzaldrin is a dependency but ships with core Atom. Try to install language-babel again via apm and see if that works.

[2016-02-05 11:06] ilkka commented on #142
That indeed fixed it, thanks a lot :)

[2016-02-05 11:06] #142 closed

[2016-02-09 23:26] nmn opened #143 "Latest update breaks: Cannot find module 'fuzzaldrin'"
**Atom Version**: 1.5.0
**System**: Mac OS X 10.11.2
**Thrown From**: [language-babel](https://github.com/gandm/language-babel) package, v2.15.3

### Stack Trace

Failed to activate the language-babel package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-02-09 23:31] gandm commented on #143
Duplicate of https://github.com/gandm/language-babel/issues/142

Atom seems at issue?

[2016-02-09 23:44] nmn commented on #143
@gandm I don't think it's Atom. I went through three version updates for atom after updating language-babel, and things didn't change.

Also, I'm using `autocomplete-flow` that also uses `fuzzaldrin` without issues.

[2016-02-10 01:45] gandm commented on #143
Did you apm install language-babel? All I do is require fuzzaldrin https://github.com/gandm/language-babel/blob/master/lib/auto-complete-jsx.coffee#L2 not much I can do if it's not found in the cache

[2016-02-10 05:03] girvo opened #144 "Uncaught TypeError: Cannot read property 'name' of undefined"
[code]

I'm using it with `nuclide`, and have disabled nearly all other plugins. This is on Atom 1.5.0.

[2016-02-10 07:54] gandm commented on #144
Can you let me have an example of the JSX block where this occurs?

[2016-02-10 23:05] girvo commented on #144
[code]

Latest version of `language-babel` 2.15.3

![](https://i.imgur.com/3519QNq.png)

[2016-02-10 23:17] gandm commented on #144
@girvo OK thanks. I can see the issue and will try and fix asap. If it blocks you you can disable the autoIndentJSX by using the package global settings or via a language-babel command as mentioned in the readme.

[2016-02-10 23:17] girvo commented on #144
@gandm Thank you! :) Hope this helped

[2016-02-11 08:44] gandm commented on #143
I'm closing as I'm pretty sure it is something wrong with the Atom package installer. I can recreate this if I remove `fuzzaldrin.js` from the `language-babel` node-modules folder and restart Atom, even though Atom has a perfectly good copy!!!

[2016-02-11 08:44] #143 closed

[2016-02-11 10:00] nmn commented on #143
re-installing fixed it. Thanks.

[2016-02-11 17:22] #144 closed

[2016-02-11 17:25] gandm commented on #144
@girvo Thanks for the source code above, it was very helpful. Should be fixed now.

[2016-02-20 05:43] nfour opened #145 "Switch case colon"
[code]

The colon in this expression is not tokenized.

[2016-02-22 21:52] gandm commented on #145
Closed by PR #147

[2016-02-22 21:52] #145 closed

[2016-02-23 03:05] mrapogee commented on #46
Hey,

Can this be fixed? I'm using js-standard style and it's causing issues with ESLint and syntax highlighting.

[2016-02-23 05:29] gandm commented on #46
@mrapogee regrettably, I don't think I can fix this ( or maybe I could but it would require a major change that I'm not willing to undertake - essentially rewrite the grammar ). If you use flow syntax in this grammar then these are fixed limitations. You can avoid eslint errors if using js standard's `semi: [2, "never"]` by starting a new line following the let/var/const with `;{}`. and the gramma

[2016-02-23 15:00] mrapogee commented on #46
Okay, I'm just doing this for now
[code]

Thanks.

[2016-02-25 17:19] colinmeinke opened #148 "Publish to npm"
I'm using https://github.com/atom/highlights away from atom and it would be cool to pull in this dependency from npm, rather than from github.

[2016-02-25 18:31] gandm commented on #148
Does `npm install git://github.com/gandm/language-babel` not do it for you?

I know this also loads in redundant modules and you just need the grammar but it uses non atom loading.

[2016-02-25 18:36] colinmeinke commented on #148
Yeah it totally works installing from git, that's what I'm doing https://github.com/colinmeinke/colinmeinke/blob/master/package.json#L20... it would just be nice to have it on npm :smiley:

[2016-02-26 09:35] gandm commented on #148
Sorry, but I'm not sure it is worthwhile as:-

- I can't any benefit in using npmjs over just installing from github in this case?
- The package has more than just grammar and isn't really suitable for npmjs and just pollutes it.
- It means I would have to publish the package twice.

[2016-02-26 09:35] #148 closed

[2016-03-01 03:33] samdj opened #149 "Arrow syntax with multiline params"
[code]

The arrow doesn't highlight in these examples (Gets treated as relational operators).

[2016-03-01 04:02] gandm commented on #149
Expected as per bullet point 3. https://github.com/gandm/language-babel/issues/46

[2016-03-01 04:23] gandm commented on #149
I've edited the bullet point and title in the referenced issue to make this more clear. It is a limitation of grammar in general that one can't backtrack to re-annotate previous code. The `=>` is incorrect but so are the scopes of the previous `(` and `)`. These should be shown as a function. By the time the `=>` occurs I can't go back and re-parse the function arguments.

 Maybe I can correctly s

[2016-03-03 20:56] jgebhardt opened #150 "`move-line-up/down` command breaks JSX indentation"
## Repro steps
Using the following test file:
[code]

Select the first child of the enclosing `<div />`:
![screen shot 2016-03-03 at 12 49 08 pm](https://cloud.githubusercontent.com/assets/632968/13509128/cb7f5ecc-e13e-11e5-9e23-c6d01ed045b1.png)

Use the `editor:move-line-down` / `editor:move-line-up` (cmd+ctrl+up/down) command to move the selection around. This breaks the indentation by setting

[2016-03-03 21:09] gandm commented on #150
OK Thanks. I'll take a look. In the meantime just cursor into the last row moved and it will re-indent the previous rows.

[2016-03-04 11:41] gandm commented on #150
@jgebhardt Looks like I'm indenting it correctly but on return  Atom re-indents at https://github.com/atom/atom/blob/master/src/language-mode.coffee#L235 using the previous line's indent.

I may have to monkey patch this method which I'd hoped to avoid.

[2016-03-05 21:21] InSuperposition opened #151 "JSX closing 'element' tags - styling bug"
I'm experiencing the following issue with the JSX closing tags. It appears to only happen when I use Babel ES6 Highlighting.

<img width="1440" alt="fullscreen_3_5_16__3_16_pm" src="https://cloud.githubusercontent.com/assets/433871/13550521/714cb672-e2e5-11e5-8a36-ab631b25263c.png">

[2016-03-05 21:31] gandm commented on #151
See https://github.com/gandm/language-babel/issues/141 it's most likely a problem with your atom setup.

[2016-03-05 21:41] InSuperposition commented on #151
Thanks, after enabling SHadow DOM and a restart, it now works correctly. Its interesting that Atom advises to disable the feature if you are having a styling issue, yet that is what caused my issue. :)

[2016-03-05 21:41] #151 closed

[2016-03-05 21:43] gandm commented on #151
Only disable if you have issues with old packages that were prior to shadow dom support. New packages should have it ticked.

[2016-03-10 18:14] vmakhaev opened #152 "Highlighting the string"
Why `string` is highlighted? What makes it different from `array` or `number`?
![screen shot 2016-03-10 at 21 10 40](https://cloud.githubusercontent.com/assets/964688/13679469/f1febd4c-e704-11e5-960e-37055070e96d.png)

[2016-03-10 18:41] gandm commented on #152
string is being incorrectly scoped as a node support type. I'll fix this.

[2016-03-11 12:36] gandm commented on #150
Incorrect scopes returned by atom.

[2016-03-11 14:02] gandm commented on #152
@vmakhaev  Should be fixed in 2.15.6

[2016-03-11 14:04] gandm commented on #150
@jgebhardt Should now be fixed in 2.15.6 release.

[2016-03-11 14:04] #150 closed

[2016-03-11 14:04] #152 closed

[2016-03-11 18:47] vmakhaev commented on #152
Cool, thanks

[2016-03-13 18:02] kjendrzyca opened #153 "Incorrect JSX auto-formatting inside curly braces"
The problem:
![jsx-indentation-problem](https://cloud.githubusercontent.com/assets/7491025/13730333/9f6d21c8-e94c-11e5-8329-2d116111a967.gif)

it's event more interesting when I use tenary operator:
![jsx-indentation-problem-2](https://cloud.githubusercontent.com/assets/7491025/13730338/adec206e-e94c-11e5-9a1e-89e0c3bb3c38.png)

my .eslintrc config (migrated to 2.0, but there might be some errors)

[2016-03-13 18:43] gandm commented on #153
I'll take a look. You'll have to disable auto indent jsx at the moment.

[2016-03-14 05:42] gandm commented on #153
@kjendrzyca Can you try 2.15.7. Problems with the ternary operator may be different so please raise another issue as appropriate.

[2016-03-14 07:36] kjendrzyca commented on #153
It's better in 2.15.7, props indent is correct, but there is no auto-indent for the whole element:

![jsx-indentation-problem-3](https://cloud.githubusercontent.com/assets/7491025/13737690/868d911a-e9bf-11e5-848e-3625e992ad68.gif)

I'll create new issue for tenary operator.

[2016-03-14 07:40] kjendrzyca opened #154 "Incorrect JSX auto-formatting when using tenary operator"
In version 2.15.6:
![jsx-indentation-problem-2](https://cloud.githubusercontent.com/assets/7491025/13737754/03df2d7c-e9c0-11e5-8b15-00f968d6ba0c.png)

and in 2.15.7:
![image](https://cloud.githubusercontent.com/assets/7491025/13737792/43004496-e9c0-11e5-977c-112c16b289d4.png)

my .eslintrc config (migrated to 2.0, but there might be some errors):
https://gist.github.com/kjendrzyca/7e59803494a49559

[2016-03-14 11:21] gandm commented on #153
@kjendrzyca Can you try 2.15.8

[2016-03-14 11:22] gandm commented on #154
@kjendrzyca Can you try 2.15.8

[2016-03-14 17:22] kjendrzyca commented on #154
fixed!

[2016-03-14 17:25] kjendrzyca commented on #153
fixed! thanks for quick fix :)

[2016-03-14 18:04] #153 closed

[2016-03-14 18:05] #154 closed

[2016-03-15 14:00] DexterHaslem opened #155 "can't turn off auto indent"
my .eslintrc doesn't have any "indent" or any react indent rules and I have "Auto Indent" and "Indent on Paste" off and restarted atom. However the package keeps indenting JSX as soon as my cursor crosses it. Is there some way to see what is triggering indentation in a file? I disabled all linters as well

[2016-03-15 14:15] gandm commented on #155
There is a language-babel package setting autoindentjsx which turns it off for all files, or a command palette key to toggle it.
________________________________
From: Dexter Haslem<mailto:notifications@github.com>
Sent: ‎15/‎03/‎2016 14:00
To: gandm/language-babel<mailto:language-babel@noreply.github.com>
Subject: [language-babel] can't turn off auto indent (#155)

my .eslintrc doesn't have any "

[2016-03-15 14:54] DexterHaslem commented on #155
well that is the source of my confusion, autoindentjsx is off. I'll dig in and try to get some specifics

[2016-03-15 18:19] gandm commented on #155
@DexterHaslem if autoindentjsx is off then any files opened will not be auto indented so I'm not sure what is indenting your jsx.  The line that instantiates the indent feature is here https://github.com/gandm/language-babel/blob/master/lib/main.coffee#L27

[2016-03-16 08:58] #155 closed

[2016-03-19 16:05] jerone opened #156 "Folding stuck on multiline string"
Consider the following code:

[code]

When pressing the fold icon on function `it` it won't fold the whole function:

![es6-folding](https://cloud.githubusercontent.com/assets/55841/13899691/b9033f6c-edf4-11e5-86a4-82b0c693bcd8.png)

[2016-03-19 16:30] gandm commented on #156
I think this is an Atom issue. Atom assumes cold folding applies to indented lines. The only control I have over it is a simple regex [here](https://github.com/gandm/language-babel/blob/master/settings/language-babel.json#L5)

e.g. This issue is still open on Atom https://github.com/atom/atom/issues/3442 and https://github.com/atom/atom/issues/8879

[2016-03-19 16:35] jerone commented on #156
Thanks for your answer. Seems indeed an Atom limitation. Issue could be closed as an upstream issue.

[2016-03-19 16:36] #156 closed

[2016-03-20 18:40] miguelc1221 opened #157 "Closing tags broken in jsx"
Seems like the recent release broke the closing tags in jsx, the closing tags are empty and the name of the element appears all the way to the right.

Example:

<div>

</>                                                                                                                                        div

[2016-03-20 18:44] gandm commented on #157
It's atom. See https://github.com/gandm/language-babel/issues/151

[2016-03-20 18:54] #157 closed

[2016-03-21 04:54] vshen94 opened #158 "Uncaught TypeError: Cannot read property 'dispose' of undefined"
[Enter steps to reproduce below:]

1. Usually happens after closing a tab.

**Atom Version**: 1.6.0
**System**: Mac OS X 10.11.3
**Thrown From**: [language-babel](https://github.com/gandm/language-babel) package, v2.16.0

### Stack Trace

Uncaught TypeError: Cannot read property 'dispose' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-03-21 05:32] gandm commented on #158
I can only recreate when I install and use the `move-panes` package.

[2016-03-21 05:43] gandm commented on #158
In Atom 1.6. `move-pain` and  `pain-split` functionality are implemented as native features. These seem to work correctly in Atom without generating a stack trace. See blog entry http://blog.atom.io/ `Multi-pane Usage Improvements`

[2016-03-21 14:54] gandm commented on #158
As the package move-panes seems to be the root cause of this problem I'm closing this issue.

[2016-03-21 14:54] #158 closed

[2016-03-21 23:38] vshen94 commented on #158
Awesome, thanks!

[2016-03-31 03:37] tomitrescak opened #160 "Compile all files"
Hi, is it possible to compile all files in the given project root directory?
 Thanks

[2016-03-31 04:52] gandm commented on #160
@tomitrescak  Not sure exactly what you mean. What is the intent? I could add a context menu to the tree view to compile files in that directory.

[2016-03-31 09:37] tomitrescak commented on #160
That would be fantastic .. build all files in the selected directory.

[2016-04-02 12:28] gandm commented on #160
@tomitrescak Just released 2.17.0 that has a context menu for directories to allow files to be transpiled.

[2016-04-02 12:28] #160 closed

[2016-04-02 12:30] gandm commented on #149
@samdj Just released 2.17.0 that scopes arrows. Still doesn't parse it as a correct function though.

[2016-04-02 12:30] #149 closed

[2016-04-05 01:02] samdj commented on #149
Looks like good compromise @gandm,

[2016-04-06 20:42] phyllisstein opened #161 "Regression in TODO highlighting."
Hey there! Looks like #37 is rearing its ugly head again. `TODO` comments aren't being caught by the built-in grammar when using this package. I'm enclosing screenshots of the default JavaScript grammar and this one, with the Web Inspector toggled in case that's useful. Happy to provide any information that'd help debug this! Thanks for looking into it.

![screen shot 2](https://cloud.githubuserco

[2016-04-08 05:42] gandm commented on #161
Thanks for the report. Yes it's a regression. I'll fix and push out a new release.

[2016-04-09 05:56] #161 closed

[2016-04-13 21:42] MiracleBlue opened #163 "Indenting issue with jsx files"
I've got a bit of an indenting issue with jsx files when using the Babel ES6 JavaScript file type.  When making a new line within an element block, the indenting falls back by one each new line.  Example:

<img width="296" alt="screen shot 2016-04-14 at 7 40 33 am" src="https://cloud.githubusercontent.com/assets/23368/14510364/719dddd8-0214-11e6-8f12-3f52cabcde2a.png">

language-babel version: 2.1

[2016-04-13 21:44] MiracleBlue commented on #163
Updating to 1.7.0 this morning seems to have fixed the issue.

[2016-04-14 05:33] gandm commented on #163
I can't recreate this on atom 1.6.2 & language-babel 2.17.1. Maybe Atom was in the process of auto-updating and this caused the issue?  I'll leave open for a few days and see if anyone else experiences this.

[2016-04-14 15:05] despairblue opened #164 "flow comment syntax breaks highlighting"
A picture is better than... 😃

![screen shot 2016-04-14 at 17 02 05](https://cloud.githubusercontent.com/assets/927609/14532884/f0e07058-0262-11e6-9301-5ac1191b69a3.png)

[2016-04-14 15:54] #164 closed

[2016-04-14 15:59] gandm commented on #164
Should be fixed in 2.17.2

[2016-04-14 20:25] MiracleBlue commented on #163
That's entirely possible, in fact I think I noticed it only start happening at a certain point in the day when it had been working just fine prior, and that then made me try the update.

[2016-04-15 09:49] despairblue commented on #164
It is. Awesome. Thanks!

[2016-04-15 12:58] luiz-pereira-movile opened #165 "Unrecognized char is being shown for jsx sintax."
After atom updating to 1.7.1 and language-babel to 2.17.2 I've noticed I small but annoying bug.

![screen shot 2016-04-15 at 9 54 16 am](https://cloud.githubusercontent.com/assets/12236202/14561922/1c3c1b7a-02f0-11e6-83cf-ef3d0bb60cbf.png)

Every file with jsx has this error sign on the first line of the jsx sintax. But I'm able to transpile without errors.

My .babelrc file looks like this:

[co

[2016-04-15 14:39] gandm commented on #165
I have no idea where this comes from. language-babel doesn't put anything in the margins/gutter so I presume it is another package or something native in Atom.

[2016-04-15 17:36] luiz-pereira-movile commented on #165
Any ideas of where I should start looking for what is causing that?

[2016-04-15 17:54] gandm commented on #165
Does hovering over or clicking the icon do anything? Maybe using the Chrome inspector and investigating that element would give you a clue as to it's origin. Do you have a list of packages you have installed? You could disable packages one by one until the offending one shows itself.

[2016-04-15 18:13] luiz-pereira-movile commented on #165
I found it!

It was the refactor module! Thanks a lot for your help.

[2016-04-15 18:13] #165 closed

[2016-04-15 18:41] #163 closed

[2016-04-17 05:56] nfour opened #166 "`async`, `get` and `set` on shorthand object functions"
[code]

In this example `async`, `get` and `set` are not highlighted, but it all is when within a `class`.

[2016-04-17 15:32] #166 closed

[2016-04-17 15:32] gandm commented on #166
Thanks for the report.

[2016-04-18 10:14] vjpr commented on #46
Just checking if this is a known consequence on not using a semi-colon after a flow statement. It wasn't clear that using flow without semi-colons would break things unexpectedly.

[code]

Also, `async` becomes a `.variable.readwrite`.

[2016-04-18 14:29] gandm commented on #46
@vjpr Yes the grammar only supports flow when I can determine a statement has ended. This is easy with functions and arrows but I need a semi-colon on const, let,var, static's. If you use an ASI coding style and in-line flow typing then this grammar is probably not best suited to you needs.

If semi's aren't your taste then you could use commented typing, such as `const a /*: Object */ = {}`

I'm

[2016-04-20 14:37] dasilvacontin opened #167 "backtick content highlighting in SolarizedDark"
Shouldn't backtick + their content be highlighted in a similar way to a string, or at least with a different-than-default color?
<img width="532" alt="screenshot 2016-04-20 16 35 53" src="https://cloud.githubusercontent.com/assets/1260830/14678482/1da5239c-0716-11e6-99f6-75f64bf64883.png">

[2016-04-20 15:35] gandm commented on #167
It depends on your theme - what theme is that? I scope a template string as `string.quasi.js` and a string as `string.quoted.double.js`. The default Atom langauge-javascript pacakge scopes as `string.quoted.template.js` and a string as `string.quoted.double.js`

I guess I could change my scope names but it appears to work OK in most themes. Additionally, there are several themes customised to my p

[2016-04-20 16:54] dasilvacontin commented on #167
I'm using Solarized Dark, and it doesn't work with it. I don't have a strong preference, so if it's too much of a hassle I can just pick another theme. Thanks for the response!

[2016-04-20 17:11] gandm commented on #167
Yeah looking at the styles for solarized dark it appears that the author doesn't support a straight forward style of `string`. Maybe he would be amenable to a PR or I could use two classes for the quasi. I can check but before I do I noticed you aren't using semi's to terminate statements. If you are using flow typing this may be an issue and I'd probably recommend finding another grammar. See ope

[2016-04-21 20:02] gandm commented on #46
@vjpr  I see you've released a syntax theme that mentions language-babel doesn't support flow. I don't understand this as it fully supports flow with true scoping for flow objects. It is true that I don't support ASI syntax for certain flow statements as shown above. Also, language-babel is recommended as the flow javascript package for facebook's Nuclide project. See http://nuclide.io/docs/editor

[2016-04-22 00:34] vjpr commented on #46
From https://github.com/vjpr/atom-webstorm-syntax-theme

What I meant was that it doesn't support Flow with ASI. I will update it.

---

What would it take to support Flow+ASI?

[2016-04-22 02:49] gandm commented on #46
@vjpr It is quite tricky to support flow and be aware of and also scope flow syntax. It may be possible to add ASI for vars etc but it would take some time and wouldn't be bullet proof. e.g. flow typecasts `([1, "a", true]: Array<mixed>).map(x => x)` starting a line, but I guess that's always an issue for ASI anyway. Looking at this thread I don't see a lot of people requesting it?

The babel-subl

[2016-04-23 01:53] vjpr commented on #46
@gandm Thanks for the details!

The Flow syntax does look quite tricky to detect correctly with the TextMate grammars. I need to read more about incremental AST parsers.

I would prefer to ignore Flow parsing. Would this be possible? The thing that stops me being able to use this package is that when I use Flow without semicolons, it will break the rest of the code highlighting.

[2016-04-24 10:29] #46 closed

[2016-04-24 10:29] #167 closed

[2016-04-24 10:39] gandm commented on #46
@mrapogee @vjpr Just pushed 2.18.0 that supports using flow in files that use ASI. Let me know how it goes.

[2016-04-25 01:42] nfour opened #168 "Regression; async token"
[code]

In this example `async` has a scope of  `entity name function method js` instead of the `storage type js`

[2016-04-25 03:23] prescottprue commented on #168
+1 for async support in general

Below are some examples of async implementations I have found to not work

[code]
[code]

[2016-04-25 04:20] nfour commented on #168
@prescottprue all of your examples are fixed and do indeed highlight for me. Check your syntax theme.

[2016-04-25 08:45] gandm commented on #168
@nfour Just pushed 2.18.1 that should fix your issue.

@prescottprue I can't see any issues with the examples you provided? Are you sure you have langauge-babel as the grammar for the file you are checking?

[2016-04-25 09:11] dasilvacontin commented on #167
Works, thanks @gandm! :)

[2016-04-25 09:27] gandm commented on #167
@dasilvacontin thanks. FYI version ^2.18.0 I also support inline flow typing with ASI files. No more semi-colons.

[2016-04-25 10:10] dasilvacontin commented on #167
@gandm Oh, that's huge, kudos! 🙌 (and thanks for letting me know)

[2016-04-25 13:12] vjpr commented on #46
Thanks! I'll test it out.

[2016-04-26 15:02] jbinto opened #169 "Calling a function named `function` breaks syntax highlighting"
A popular testing project called TestDouble (https://github.com/testdouble/testdouble.js) has the following pattern:

[code]

This breaks syntax highlighting as shown below:

![out2](https://cloud.githubusercontent.com/assets/2664611/14822884/5d9a22cc-0b9e-11e6-99f7-84fb9f9ee3d2.gif)

[2016-04-26 17:43] gandm commented on #168
@prescottprue I'm going to close this. async functions have been supported since the beginning. If you are sure that you are using language-babel and it gets an error, or maybe I've misunderstood the issue please open another. Thx.

[2016-04-26 17:43] #168 closed

[2016-04-26 17:57] #169 closed

[2016-04-27 01:47] jbinto commented on #169
Thanks for the quick fix!

[2016-04-28 17:36] glortho opened #170 "Support for method shorthand"
Greetings! Thanks for the hard work on this great extension.

I've noticed, however, that es2015 method shorthand gets treated as `meta.function-call`. for example:

[code]
Is this by design?

[2016-04-28 19:08] gandm commented on #170
Doesn't appear to do that for me?
![image](https://cloud.githubusercontent.com/assets/2313237/14898091/f9c75ef0-0d7c-11e6-9a3f-d6d0b0937fd2.png)

[2016-04-28 19:27] gandm commented on #170
I think you would have got the bad scopes on versions of language-babel prior to 2.17.3. Maybe you are running an older version?

[2016-04-28 19:30] glortho commented on #170
Ah sorry I gave the wrong example. It's when inside another function-call:
[code]
Do you show the same on your side?

On Thu, Apr 28, 2016 at 3:08 PM, Graham <notifications@github.com> wrote:

[2016-04-28 19:32] glortho commented on #170
Ah sorry I gave the wrong example. It's when inside another function-call:
[code]
Do you show the same on your side?

[2016-04-28 19:42] gandm commented on #170
I haven't tested this but I can envisage how this happens. I'll look at it and push out a fix asap. Probably tomorrow. Hope it doesn't break anything for you.

[2016-04-28 19:47] glortho commented on #170
Okay many thanks @gandm !

[2016-04-28 22:38] #170 closed

[2016-04-29 14:52] Alaneor opened #171 "Missing highlight on async functions when returning objects"
I have found some cases where the `async` keyword is not highlighted properly, attaching code snippet - please see the comments inline.

[code]

Changing `return` to an assignment (`const obj = { ...`) fixes the highlight for the `async` keyword.

I am attaching a screenshot from my editor for brevity, since github shows the highlights properly for the snippet above, which might be confusing. 😄

!

[2016-04-29 15:26] #171 closed

[2016-04-29 15:26] gandm commented on #171
Thanks for reporting this. Should be fixed now.

[2016-04-29 15:58] Alaneor commented on #171
That was fast! Tested and all good now. Thanks!

[2016-05-01 04:52] kamek-pf opened #172 "type keyword highlighting"
Hey,
Looks like `type` always gets highlighted now, no matter where it is.
![type](https://cloud.githubusercontent.com/assets/3883992/14940162/d49220d2-0f36-11e6-8ec6-0fdb6bb724ce.png)

Is this the intended behavior ?

[2016-05-01 06:25] gandm commented on #172
@kamek-pf Thanks for reporting this. No it isn't the intended behaviour and the moral is, double check global replaces. I'll fix this and push out.

[2016-05-01 06:43] #172 closed

[2016-05-02 11:41] hex13 opened #173 "Custom components in different color (enhancement)"
Would it be possible to highlight custom JSX components (which are starting either with upper-case or have dots in itself like this `<this.props.component />`) in different color that common DOM elements (lower-case)?

In other words instead of this:

![image](https://cloud.githubusercontent.com/assets/3883359/14953425/b3ceb8fe-1069-11e6-809f-2dd9d319c1ce.png)

I would like to see this (changed vi

[2016-05-02 13:20] gandm commented on #173
@hex13 Yes seems like a good idea for obvious components beginning `<Component>`  but I'm not sure about `<props.component>` as it's not a pattern I see frequently used and I guess the component in this case could be an html element?  Do you have any examples of this?

[2016-05-02 15:30] hex13 commented on #173
https://facebook.github.io/react/docs/jsx-in-depth.html
![image](https://cloud.githubusercontent.com/assets/3883359/14957942/51101f54-1088-11e6-863c-17f5af4fa2c2.png)

I'm using this pattern to make Higher Order Components.

In docs namespaced components are also uppercase, but they do work lowercase:
https://jsfiddle.net/69z2wepo/40609/

[2016-05-02 16:00] gandm commented on #173
Thanks. Yes I understand the principle but I would still think that a custom component should have an uppercase component name prefix. I appreciate that the compiler will convert tag names with dots to a create element with that tag name as a variable name but it seems at odds with the conventions of jsx. Maybe I'm wrong but the examples above show this uppercase convention.

I have no control ove

[2016-05-02 20:45] hex13 commented on #173
Ok, at least support for upper cased tags would be good :)

[2016-05-03 07:59] gandm commented on #173
I've just pushed out 2.19.0. It highlights jsx such as `<Component>` and `<this.dottedname.component>` as classes.

[2016-05-03 10:17] roman01la opened #174 "Invalid highlighting in ternary operator in JSX"
Highlighting seems to be broken when ternary operator has `null` or `undefined` as the first operand and arrow function or usual function declaration as the second operand.

[code]

Highlighting gets wrong after the closing JSX tag of a node which has ternary operator.

[2016-05-03 10:43] hex13 commented on #173
thanks 👍

[2016-05-03 13:00] gandm commented on #174
It's actually the arrow func that's causing this not the null. This is being parsed as a key/value `null: () => onClick(val)` and the ternary never see's the `:` This is quite difficult to isolate using just regex. I'll take a look. Thanks

[2016-05-03 14:25] #174 closed

[2016-05-03 14:25] gandm commented on #174
Hopefully it fixes your issue.

[2016-05-03 14:26] #173 closed

[2016-05-03 16:29] taulatin opened #175 "Unexpected token error"
**Hello!**

**I've installed plugin to ATOM editor. I tried to save my *.JSX file and got this error message:**

<%DIRECTORY%>/js/vvt_datatable/test.jsx: Unexpected token (99:7)

Using babel-core at
C:\Users\<%USER%>\.atom\packages\language-babel\node_modules\babel-core\index.js

   97 | 	    //console.log(this.props.data.url);
   98 | 	    return (

      | 	      ^
  100 | 	        <thead>
  101

[2016-05-03 16:46] gandm commented on #175
No it only provides a core Babel 6 out of the box. As plugins (and babel core ) are now recommended to be provided on a project by project basis I don't provide any plugins; in fact it would be almost impossible. If a project has plugins mentioned in it's package.json or .babelrc files and the modules are in the projects node_modules folder then I will find them and use them.

This is mentioned in

[2016-05-03 17:00] gandm commented on #175
@taulatin you might also want to look at https://github.com/gandm/example-language-babel It is not a real project but shows how one might wet one up. It's pretty standard Babel but adds .languagebabel files to  control where and if files are directed to.

[2016-05-03 18:28] roman01la commented on #174
@gandm Thanks, it works now. But I also mentioned that usual function declaration `function() {}` instead of arrow function also breaks highlighting. This is still presented.

<img width="731" alt="screen shot 2016-05-03 at 9 26 24 pm" src="https://cloud.githubusercontent.com/assets/1355501/14993932/e712edea-1175-11e6-92a2-b4abfde2c980.png">
<img width="747" alt="screen shot 2016-05-03 at 9 26 07

[2016-05-03 18:44] taulatin commented on #175
https://github.com/gandm/example-language-babel
has the same error on my computer.

[2016-05-03 18:46] taulatin commented on #175
May be anybody know what I should do for fixing it? Yes, I'm a little lazy and don't want to read tons of documents for BABELJS. But, I'm just a developer who want to use tool without stupid monkey work in command line.

[2016-05-03 19:12] gandm commented on #175
Can you provide me with some of the JSX that's giving you the problem? The `<%DIRECTORY%>/js/vvt_datatable/test.jsx: Unexpected token (99:7)` message indicates a syntax error but I can't see anything on line 99?

[2016-05-03 19:21] gandm commented on #174
@roman01la Yeah I realised that some more patterns needed a regex prefix. I've just running the specs for these now and if clean will publish soon.

[2016-05-03 19:38] gandm commented on #174
@roman01la Just pushed 2.19.3. Should fix the above + other issues.when using ternary's.

[2016-05-03 20:12] taulatin commented on #175
No, code is correct. I've tested it on this https://github.com/gandm/example-language-babel
with the same 'Unexpected token' error

[2016-05-03 20:20] gandm commented on #175
That error is coming straight from Babel not from my package so there something wrong and nothing much I can do about it. Put the code in here http://babeljs.io/repl/ and see if it works. I'm going to close this issue as it isn't the package.

[2016-05-03 20:20] #175 closed

[2016-05-04 18:01] jscissr opened #176 "Custom elements jsx broken"
Very recently, custom html elements in jsx are no longer highlighted correctly:

[code]

It guess it is because of a minus which was dropped from a regex in [this commit](https://github.com/gandm/language-babel/commit/a256580c194139753c43fde3f9fade6e8cca0d1d#diff-84d196d176a806166c5319d65e586325L1523).

[2016-05-04 18:29] gandm commented on #176
Just pushed 2.19.4 that adds back the - as a possible name for custom elements. It will be highlighted as a component. Sorry about that.

[2016-05-04 18:58] jscissr commented on #176
Thanks! :+1:

[2016-05-04 18:58] #176 closed

[2016-05-05 14:35] jamby opened #177 "React classes are wrong color"
<img width="304" alt="screen shot 2016-05-05 at 10 33 43 am" src="https://cloud.githubusercontent.com/assets/250728/15046299/f9ecf482-12ac-11e6-9a05-09ea891b5bfb.png">

I'm using Atom Material UI and Atom Material Syntax Dark, and the syntax coloring for a React class seems to be the same as attributes. It used to be red in this case, now it is yellow.

[2016-05-05 15:11] gandm commented on #177
I had an enhancement request [here](https://github.com/gandm/language-babel/issues/173) to change the highlight of JSX components and custom elements. These are now scoped as `support.class.component.open.jsx` and it happens in your theme that attributes are themed with the same colour. Not sure what I can do about these issues I tested with about 10 themes and didn't have an issue ( too many them

[2016-05-05 15:13] jamby commented on #177
So is there any way I can change it back myself?

[2016-05-05 15:33] gandm commented on #177
You can add some colors to your Atom `styles.less` which can be found on one of the atom menu's e.g. Adding this

[code]
gives
![image](https://cloud.githubusercontent.com/assets/2313237/15047937/184d192a-12df-11e6-990d-10580703c279.png)

[2016-05-05 15:34] jamby commented on #177
Coolio, just what I wanted. Thanks!

[2016-05-07 18:03] bjrmatos opened #178 "Invalid highlighting with if statements"
I have updated my language babel package and noticed that `if` statements are in wrong formatting

OS: OSX

<img width="1587" alt="captura de pantalla 2016-05-07 a las 12 58 54 p m" src="https://cloud.githubusercontent.com/assets/4262050/15093671/0ad233f4-1454-11e6-9205-f90e7777c877.png">

[2016-05-07 18:42] gandm commented on #178
Sorry about that. I pushed out a large change and added something at the last minute that caused this. I'll fix it and push out shortly.

[2016-05-07 19:17] bjrmatos commented on #178
@gandm no problem! i can't express how much your work make my work more pleasure 😄

[2016-05-07 19:59] gandm commented on #178
@bjrmatos should be fixed.

[2016-05-07 21:00] #178 closed

[2016-05-07 21:10] gandm commented on #178
@bjrmatos the latest version is 2.20.2 that should fix the problem. I've closed this but feel free to reopen if it's still an issue. Thanks for the kind words; appreciated.

[2016-05-08 02:01] nfour opened #179 "Switch block for loop tokens"
[code]
In this example the `for` in the switch case for `SET` is tokenized as `entity name function method js` instead of `keyword control loop js`.

Removing the braces around the case fixes it, but I have found in some cases it's illegal to use `let` and `const` inside a case block without the braces.

[2016-05-08 07:36] bjrmatos commented on #178
indeed! it's fixed now! thnk you for ur time!

[2016-05-08 07:59] gandm commented on #179
Thanks for the report - fixed in 2.20.3. I did a large refactor on 2.20.0 trying to distinguish methods better. e.g. using keywords as methods inside classes.
[code]

[2016-05-08 07:59] #179 closed

[2016-05-08 10:05] nfour commented on #179
Great work overall @gandm, I'm really impressed with this library.

[2016-05-08 19:08] #177 closed

[2016-05-09 18:17] ilmatic opened #180 "Cursor being moved to after closing tag after autocomplete in JSX"
Steps to repro:

1. Create an opening tag inside of a JSX file (Mine is being written inside a ```<script>``` tag, per the official React tutorial)
<img width="541" alt="screenshot_language-babel-bug_0" src="https://cloud.githubusercontent.com/assets/2415202/15123040/a1aa3186-15d6-11e6-943a-175ae20cfdb7.png">

2. Press "return" to select the closing tag. At this point the cursor is in between the

[2016-05-09 18:21] ilmatic commented on #180
Operating System: OS X 10.11.3
Atom version: 1.7.3
language-babel version: 2.20.4

[2016-05-09 18:34] #180 closed

[2016-05-09 18:35] gandm commented on #180
@ilmatic It should work as intended now. Thanks.

[2016-05-09 19:22] glortho commented on #170
My example above is fixed but I think there is now an additional issue:
[code]
It seems like `baz` should get `.function-call > .name.function`. Do you agree?

[2016-05-09 20:34] gandm commented on #170
Yes totally agree. Try 2.20.6.

[2016-05-09 20:37] glortho commented on #170
Fixed! Many thx @gandm

[2016-05-09 20:46] billyjanitsch opened #181 "Incorrect higher-order function parsing"
The following code is incorrectly parsed:

[code]

<img width="515" alt="screen shot 2016-05-09 at 4 45 19 pm" src="https://cloud.githubusercontent.com/assets/1158733/15127646/843f4d46-1605-11e6-90f9-2f4a54127bf6.png">

Expected: `props` should be red, `Provider` should be yellow, `store` should be orange, etc.

[2016-05-09 20:56] glortho opened #182 "Destructured object keys get wrong `variable` designation when on one line"
For example:
[code]
Version 2.20.6

[2016-05-09 21:25] rickmed opened #183 "add support for template literals"

[2016-05-09 21:32] gandm commented on #183
Not sure what you mean; can you eleaborate. This is already in the package.
![image](https://cloud.githubusercontent.com/assets/2313237/15128794/d74717be-1635-11e6-9264-608bf5d32716.png)

[2016-05-09 22:11] kaicataldo opened #184 "Incorrect highlighting of quoted shorthand method notation"
Came across something while working on my own theme - not sure if this is an issue with the language-babel package or something else.

In the following example, the highlighting is incorrect. If I remove the `this` or the hyphen in the method name, everything works as it should. This seems to only happen for the first quoted shorthand method name with a hyphen in it when it is in an object that is

[2016-05-09 22:31] gandm commented on #181
I'll have to mull this over. I can easily fix this issue but it has some undesired side effects with my flow support. As a workaround the code below works, abeit it uses a let and is two lines.
[code]

[2016-05-09 22:35] #182 closed

[2016-05-09 22:47] gandm commented on #184
Yes I can see the problem area. I'll fix it tomorrow sometime.

[2016-05-09 23:11] rickmed commented on #183
@gandm should it work like this?

![image](https://cloud.githubusercontent.com/assets/7104786/15130892/c8936c66-1619-11e6-8348-73bdaaa2b3d8.png)

[2016-05-10 04:11] gandm commented on #183
Looks as though you are using a Monokai based theme? The theme determines the colours displayed and Monokai just shows  template strings with embedded vars as yellow. See https://github.com/kevinsawicki/monokai/issues/67

e.g.
Monokai
![image](https://cloud.githubusercontent.com/assets/2313237/15135330/f78b5abc-166c-11e6-9028-24dfd98004b6.png)
Atom Dark
![image](https://cloud.githubusercontent.com

[2016-05-10 06:13] gandm commented on #183
I'll close. Open again if you feel the need,

[2016-05-10 06:13] #183 closed

[2016-05-10 06:28] #181 closed

[2016-05-10 06:28] #184 closed

[2016-05-11 19:39] ilmatic commented on #180
Confirmed working. Thanks!

[2016-05-12 21:03] daltones opened #185 "Class property “type”"
Class properties named “type” break highlight on the entire line.

[code]

[2016-05-12 21:53] gandm commented on #185
OK thanks for this. type, declare, interface are flow keywords and that's why it isn't working. I'll modify the grammar and fix this but it won't be until the weekend. If you are using flow then typing the field works. e.g. `type: string = 'some string'`

[2016-05-13 18:09] gandm commented on #185
@daltones Just pushed 2.20.9 - See if that does the trick.

[2016-05-14 02:07] daltones commented on #185
Yes, it does! :smile:

Thanks!

[2016-05-14 02:07] #185 closed

[2016-05-21 11:38] styx opened #187 "Very slow processing for some kind of strings"
In attach you will find 2 files. One is a total DoS (with `kill` in the name). Don't know how long you will need to wait for to open it. The second file will take some seconds to process (~5 secs on my laptop).

If you will edit the string `url` you will get a freeze again.

Note: it is not a problem of conflict with other plugins. I've checked that. Atom freezes with single babel extension.

[1.z

[2016-05-21 15:21] gandm commented on #187
Looks like an issue with Oniguruma which Atom uses to process the regex in language grammars. A couple of expressions I use to process arrow functions work in  [RegExBuddy](http://www.regexbuddy.com/)  but appear to cause infinite back tracking in Oniguruma. All the expressions are probably overkill in any case as they attempt to handle flow typed arrow function where the argument has no brackets.

[2016-05-21 16:29] styx commented on #187
@gandm Thanks for the fast response! 😸 Would be nice to post an issue to Oniguruma then, what do you think? I believe you will describe the situation clearer, sorry for passing this to you.

[2016-05-21 16:59] gandm commented on #187
@styx Just pushed 2.21.0 that should fix your problem. I'll look into the Oniguruma issue.

[2016-05-21 17:28] styx commented on #187
Yay, it works (: Thnx again.

[2016-05-21 17:28] #187 closed

[2016-05-23 10:01] puranjayjain opened #188 "Snippets for es6"
@gandm Can I start a PR to include es6 related snippets like import?

[2016-05-23 12:24] gandm commented on #188
@puranjayjain Thanks for the offer but I'm not sure if I want to add snippets to the package. I have always felt that snippets should be a separate package as Atom provides no easy way to opt out. By having a separate package, of which there are many, you can choose to opt in. Questions also arise such as - do you provide snippets with or without semi-colons; for Flow; for Typescript; for React, f

[2016-05-23 12:30] puranjayjain commented on #188
Ah that's a bigger issue than I thought :sweat_smile:

[2016-05-23 12:30] #188 closed

[2016-05-23 17:05] morhook opened #189 "On Ubuntu problems on load for 'Source preview'"
I'm having some issues to load this plugin along with `source-preview` and `source-preview-babel` and using the 'Source Preview: toggle' command. It is just showing the same source as the source file (no transpiling).

Steps to reproduce:
* When installing the 'source-preview' works fine.
* After restart of Atom it doesn't work and shows same code as before transpiling.

Patch-way:
* After making

[2016-05-23 17:22] gandm commented on #189
You shouldn't be using source-preview-babel in conjunction with language-babel it is only a Babel v5 system and not authored or used by me.

language-babel is a Babel transpiler server that uses source-preview to view output. If the preview still shows the same syntax then you no Babel transform plugins specified in your project's .babelrc or package.json file.

[2016-05-23 19:44] morhook commented on #189
Ok!

I'll add this .babelrc

[code]

And install the npm module:

[code]

[2016-05-23 22:03] morhook commented on #189
I think something of this is incompatible with ember build. I'm having an error when running ember commands (but this might be more related with ember-cli than this project though).

[code]

[2016-05-23 22:24] gandm commented on #189
No I don't think it's the package but something to do with Broccoli. You would likely get the error using babel-cli. Looking at the brocolli plugin [here](https://github.com/babel/broccoli-babel-transpiler) it looks like they only support Babel v5 as per this [issue](https://github.com/babel/broccoli-babel-transpiler/issues/62) indicating no Babel v6 support yet.

If that is the case you need to r

[2016-05-23 22:42] gandm commented on #189
Just to be clear. If you create a new [ember-cli-babel](https://github.com/babel/ember-cli-babel) project it will install the brocolli transpiler and the Babel core v5. You need to then add the brocolli plugin to the .babelrc file. As this is v5 no presents will be required as it was less flexible but simpler and just took es6 and output es5. When the project is opened in Atom, language-babel will

[2016-05-24 13:07] morhook commented on #189
Thanks!! I've tested both solutions:
* adding babel-core 5.8.38 to package.json (this is same version as broccoli-babel-transpiler)
* adding an empty JSON .babelrc also fixes the problem

Just by adding this to `.babelrc`:

[code]

[2016-05-24 13:14] #189 closed

[2016-05-24 13:14] morhook commented on #189
Sorry for the re-open. Wrong click

[2016-05-24 14:45] gandm commented on #189
@morhook No problems. I hope you get some luck with ember and language-babel.

[2016-05-24 14:58] morhook commented on #189
Thanks @gandm ! So far so good! Added `"babel-core":"^5.0.0"` to my package.json internal project

[2016-05-25 14:16] artursgirons opened #190 "JSX niceties only work for *.jsx (not for *.react.js)"

[2016-05-25 14:35] gandm commented on #190
I don't understand what you mean? a file named `foo.react.js` is treated no differently than `foo.jsx`

[2016-05-25 15:23] mivade opened #191 "Tab length can't be set"
I'm not entirely sure if this is an issue with this package or something else, but I am having an annoying issue where my tab length keeps getting set to `4`. If I try to edit the setting to `2`, the `2` is immediately replaced by a `4`. If I just delete the `4`, placeholder text says `Default: 2`, but this is not actually the case when I try to autoindent and get 4 spaces instead of 2.

I also se

[2016-05-25 16:15] gandm commented on #191
Appears to be a bug in Atom itself.  As a fix you will need to remove the lines shown in the image below from config.cson and save it. Atom creates these when a non-default setting has been set on a grammar's settings but they keep getting created when a global tab length is changed!!!!! Very bad.

Detail: Atom has a global tab setting and each grammar package can have an individual tab setting. e

[2016-05-25 16:54] kpompei opened #192 "Atom freezes on <Route> tag"
When I type in <Route></Route> into a .jsx or .js page and then click my mouse anywhere in the document.  Atom's editor immediately freezes and Atom has to be restarted.  This just begun when upgrading to 2.23.0.